
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>eMoksha - Comprehensive Data Services for Your Business Needs</title>
    <meta name="description" content="eMoksha offers expert services in data preparation, quality assessment, discovery, machine learning and predictive analysis, and data dashboards." />
}
<!-- Start Hero -->
<section class="swiper-slider-hero position-relative d-block vh-60" id="home">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex align-items-center bg-slider" data-background="../images/services/what-we-do-1.webp">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h1 class="display-5 text-white title-dark fw-bold mb-4">
                                        WHAT WE DO
                                    </h1>
                                    <!-- <h3 class="text-white fw-lighter">
                                        EMPOWERED BUSINESSES AND COMMUNITIES
                                    </h3>                                             -->
                                    <div class="mt-4 pt-2 ">
                                        <a href="/Home/get-started" class="btn btn-primary">Contact us</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex align-items-center bg-slider" data-background="../images/services/what-we-do-2.webp">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h1 class="display-5 text-white title-dark fw-bold mb-4">
                                        WHAT WE DO
                                    </h1>
                                    <!-- <h3 class="text-white">
                                        FOR COURTS AND JUSTICE
                                    </h3>  -->
                                    <div class="mt-4 pt-2">
                                        <a href="/Home/get-started" class="btn btn-primary">Get Started</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex align-items-center bg-slider" data-background="../images/services/what-we-do-3.webp">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h1 class="display-5 text-white title-dark fw-bold mb-4">
                                        WHAT WE DO
                                    </h1>
                                    <!-- <h3 class="text-white">
                                        FOR SUPPLY CHAIN DISTRIBUTION
                                    </h3>  -->
                                    <div class="mt-4 pt-2">
                                        <a href="/Home/get-started" class="btn btn-primary">Get Started</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
        </div>
        <!-- end swiper-wrapper -->
        <!-- swipper controls -->
        <!-- <div class="swiper-pagination"></div> -->
        <div class="swiper-button-next border rounded-circle text-center"></div>
        <div class="swiper-button-prev border rounded-circle text-center"></div>
    </div><!--end container-->
</section><!--end section-->
<!-- Hero End -->
<!-- Start -->
<section class="section bg-light" id="service">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title-2 text-center mb-4 pb-2">
                    <h1 class="title text-blue mb-3">Overview</h1>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        <div class="row bg-white align-items-center">
            <div class="col-xl-7 col-lg-12 col-md-12">
                <div class="content p-5">
                    <p class="text-black">
                        With our AI-First approach, architecting and developing AI-enabled data analytics and Machine Learning solutions, we seek to inspire organizational innovation and business transformation by delivering key insights and value drivers from organizational data.
                    </p>
                </div>
            </div><!--end col-->

            <div class="col-xl-5 col-lg-12 col-md-12">
                <div class="content-img">
                    <img src="~/images/services/whatwedo.svg" width="594" height="350" class="mx-auto d-block img-box-shadow" alt="">
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->
<section class="section services" style="background: url('../images/bg/marketing-shape.png') center; background-color: rgba(24, 67, 118, 1);">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card h-100">
                    <div class="content">
                        <p class="p-c">Speed is everything in today's business world. We automate every step in the data preparation process to gather and aggregate data from single or multiple sources in a repeatable manner to gain speed to business value. </p>
                    </div>
                    <div>
                        <img src="~/images/services/data-1.svg" class="card-img-top mx-auto d-block h-m" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center text-blue">Data Preparation</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card h-100">
                    <div class="content">
                        <p class="p-c">We assess the fitness of data for analytics purpose by measuring the data quality. We do this by developing profiles of data elements in your data to check for accuracy, completeness, consistency and reliability.</p>
                    </div>
                    <div>
                        <img src="~/images/services/data-2.svg" class="card-img-top mx-auto d-block h-m" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center text-blue">Data Quality Asessment</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card h-100">
                    <div class="content">
                        <p class="p-c">We look for hidden signals & undiscovered relationships in historical data by training our algorithms to hunt for interesting patterns and outliers.</p>
                    </div>
                    <div>
                        <img src="~/images/services/data-3.svg" class="card-img-top mx-auto d-block h-m" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center text-blue">Data Discovery</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card h-100">
                    <div class="content">
                        <p class="p-c">We provide a forward looking view of data by developing predictive analytics and forecasting solutions to keep you ahead of the game and stay pro-active in your business.</p>
                    </div>
                    <div>
                        <img src="~/images/services/data-4.svg" class="card-img-top mx-auto d-block h-m" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center text-blue">Machine Learning & Predictive Analysis</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card h-100">
                    <div class="content">
                        <p class="p-c">We simplify the understanding of complex data relationships and patterns by visual displays in an easy to understand manner.</p>
                    </div>
                    <div>
                        <img src="~/images/services/data-5.svg" class="card-img-top mx-auto d-block h-m" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center text-blue">Data Dashboards</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card h-100">
                    <div class="content">
                        <p class="p-c">We develop AI-first data centric business software applications and System Integration Solutions to help run your business using modern, smart in-built AI/Machine Learning features.</p>
                    </div>
                    <div>
                        <img src="~/images/services/data-6.svg" class="card-img-top mx-auto d-block h-m" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center text-blue">Software Development & System Integration</h5>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
    

