
@{
    ViewBag.Title = "careertech";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  <!-- Start Hero -->
<section class="section-two bg-col img-height" style="background: url('../images/career-tech/1.png') center; display: flex; align-items: center;">
    <div class="banner-overlay"></div>
    <div class="container">
        <div class="col-lg-12" style="position: relative;">
            <h1 class="title text-white text-center"></h1>
            <div class="text-center">
                <a href="/Home/get-started" class="btn btn-primary">Get Started</a>
            </div>
        </div>

    </div><!--end container-->
</section>
<!--end section-->
<!-- Hero End -->

<section class="section-two bg-col bg-white ">
    <div class="container">
        <div class="col-lg-12">

            <h2 class="title text-m text-position text-orange m-font">How use of historical data can help revolutionize Career and Technical Education (CTE)</h2>
            <p class="pt-2">
                Career and technical education (CTE) helps prepare students for careers in various technical fields. However, CTE Programs must constantly adapt and evolve to be effective, relevant, and meet the needs of students and the industry. Following are some ways by historical CTE data can be analyzed to gain insights into programming effectiveness, future growth areas, retention issues, and employment outcomes-
            </p>

            <ul class="color-ul">
                <li>
                    Multi-year data can be explored to identify emerging and declining programs within a career tech center and/or across various school districts.
                </li>
                <li>
                    Post Program Follow-up data can be used to gain insights into the post-program paths students take such as going into the job market, post-secondary education, joining the military, etc.
                </li>
                <li>
                    Trends in post-program paths can provide insights into employment rates by different programs and various factors that could drive higher/lower employment rates, such as earning certificates/credentials.
                </li>
                <li>
                    Relevant discussions with teachers and students can be facilitated by showing them data regarding how earning credentials can open up more opportunities.
                </li>
                <li>
                    The interest level of students can be quantified based on enrollment and retention rates for various programs.
                </li>
            </ul>
        </div>

    </div><!--end container-->
</section>

<!-- Start Work -->
<section class="section-two bg-col bg-white" id="blog">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col">
                <img src="~/images/career-tech/CTE-info.jpeg" class="d-flex mx-auto img-box-shadow " style="width:100%" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End Work -->
<!-- Start Cost -->
<section class="section-two bg-col d-none" id="cost" style="background: url('./images/bg/marketing-shape.png') center; background-color: rgba(24, 67, 118, 1);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title text-center mb-2">
                    <!--<h4 class="title mb-3 text-white">Outcome</h4> -->
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="d-flex align-items-center justify-content-center">
            <div class="col">
                <div>
                    <!-- <p class="text-white  mb-0">
                        eMoksha Demand Planning service has completely transformed how we order steel. A tedious and frustrating process that used to take days with pouring over excel files, purchase orders and not to mention the ‘gut’ feel of warehouse staff is now a point-and-click, 30-minute exercise with pinpoint accuracy. We are saving so much money, time, and effort with the Demand Planning service.
                    </p> -->
                    <ul class="text-white pt-4 list-unstyled">
                        <li class="mb-4">
                            <span class="text-orange-fb">Trend Analysis :</span> Trend of enrolment, graduation, and job placement rates for CTE programs. This will provide a visual representation of how CTE programs are performing and help identify areas that need improvement.
                        </li>
                        <li class="mb-4">
                            <span class="text-orange-fb">Program Comparison : </span>Compares the enrolment, graduation, and job placement rates for different CTE programs. This will help administrators and teachers understand which programs are performing well and which ones are in need of improvement.
                        </li>
                        <li class="mb-4">
                            <span class="text-orange-fb">Student Pathways : </span>Displays the different pathways students take after completing a CTE program, such as entering the job market, pursuing post-secondary education, or continuing their education in a related field.
                        </li>
                        <li class="mb-4">
                            <span class="text-orange-fb">Benefits of Earning Credentials : </span>Shows the benefits of earning certificates and credentials in CTE programs, such as increased employment opportunities and higher salaries.
                        </li>
                    </ul>

                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End Cost -->
<!-- Start Work -->
<section class="section-two bg-col bg-white  " id="blog">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title text-center  pb-2">
                    <!-- <h4 class="title mb-3 text-orange">
                        Challenges
                    </h4> -->
                </div>
            </div>
        </div>

        <div class="row justify-content-center ">
            <div class="col">

                <!-- <img src="images/career-tech/Challenges_S.png"  class="img-dps d-flex mx-auto img-box-shadow " alt=""> -->
                <p class="text-black mb-0 ">
                    In addition, historical data can be really useful for resource and budget planning for each classroom, eg;
                </p>

                <p class="text-orange mt-3 ">
                    <i><b>“If the number of students in a program is showing consistently high enrollment year over year, then it could justify spending on new technologies or tools in the classroom but if the numbers are declining then spending could probably not be justified.” </b></i>
                </p>
                <p class="text-black mt-3"><b class="text-blue">This can ensure that limited CTE dollars are put to most effective and responsible use.</b><br />In Summary, historical CTE data can really provide invaluable insights for the administrators and the teachers to run an effective CTE program and achieve outcomes.</p>
            </div>
        </div>
    </div>
</section>
<!-- End Work -->
<!--case study-->

<section class="pt-5 pb-5 d-none">
    <div class="container">
        <div class="row">
            <div class="col-md-3 testimonial">
                <img src="~/images/customer-quotes/testimonial-1a.png" width="150" height="150" class="testi mt-5" alt="">

            </div>
            <div class="col-md-9 quote-box-shadow">
                <div class="section-title testi text-black mb-4 pb-2">
                    <p class="quote">
                        eMoksha Demand Planning service has completely transformed how we order steel. A tedious and frustrating process that used to take days with pouring over excel files, purchase orders and not to mention the ‘gut’ feel of warehouse staff is now a point-and-click, 30-minute exercise with pinpoint accuracy. We are saving so much money, time, and effort with the Demand Planning service.
                    </p>
                    <h5 class="h5">
                        Melissa Supler<br />
                        Chief Operating Officer, Lyman Steel
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- Start Band -->
<section class="section-two bg-col" style="background: url('../images/bg/marketing-shape.png'); background-color: rgba(24, 67, 118, 1);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title-2 text-center">
                    <h1 class="title mb-3 text-white">What Our Client Says</h1>
                </div>
            </div><!--end col-->
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <div class="text-center">
                    <a href="http://emokshallc.com/resources/testimonials/career-tech/" class="btn btn-primary">Read More</a>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End Band -->