
@{
    ViewBag.Title = "countycourts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .img-height {
    
        height:63vh !important;
    }
        .img-height img {top:-10
        }

    p {
        font-size:22px !important;   
    }
    

        
</style>

<!-- Start Hero -->
<section class="section-two bg-col img-height" style="background: url('../images/case/court.png') center; display: flex; align-items: center;">
    <div class="banner-overlay"></div>
    <div class="container">
        <div class="col-lg-12" style="position: relative;">
            <h1 class="title text-white text-center"></h1>
            <div class="text-center">
                <a href="/Home/get-started" class="btn btn-primary">Get Started</a>
            </div>
        </div>

    </div><!--end container-->
</section>
<!--end section-->
<!-- Hero End -->
 
 
<!--end section-->
<!-- Hero End -->

<section class="section-two bg-col bg-white ">
    <div class="container">
        <div class="col-lg-12">

            <h2 class="title text-m text-position text-orange m-font">Empowering Court Diversion Program with Data Science, and Machine Learning</h2>
          <ul class="color-ul">
                <li>
                   You have data about your diversion programs stored in Excel files, case management systems, etc. Are you struggling to extract meaningful information from that data?
                </li>
                <li>
                   Are you wondering what is actually working for your diversion programs but have no easy way to figure it out?
                </li>
                <li>
                   You wish that your decisions are informed by actionable data but there is no roadmap for you to get to actionable data to make changes on the ground
                </li> 
            </ul>
			
			<p class="pt-2">
			Our client faced similar challenges with their diversion program, which had data dating back to a number of years but they were data rich and information poor as there was no easy way to extract actions needed from data. We turned that data into actions by looking for patterns to extract the cause-and-effect relationships, identifying bottlenecks in work processes, exploring outcomes, and linking outcomes to interventions thus assessing the effectiveness of their interventions.
			</p>
			<div class="row justify-content-center ">
            <div class="col">

                <img src="../images/case/Diversion case study infographic_op1_R1.png" class="img-dps d-flex mx-auto img-box-shadow " alt="">

            </div>
        </div>
			<h3 class ="pt-5">Solution:</h3>
			
			<p class="pt-2">
			eMoksha's Data Science Service-based diversion solution was implemented to address these challenges. The solution enabled the court to set benchmarks/performance measures, measure metrics and outcomes, and assess the effectiveness of the interventions on the outcomes. Additionally, a diversion data entry platform was added to the solution to have a rules-based diversion data entry.
			</p>
			
			<h3>Performance Benchmarking</h3>
			<p class="pt-2">
			We identified and measured bottlenecks within court processes, focusing on key areas such as compliance, timelines, speed, volume, and overall work efficiency. By doing so, we were to enhance the effectiveness and efficiency of the diversion Program.
			</p>
			
			<h3>Workload Measurement</h3>
			<p class="pt-2">
			We improved the efficiency and productivity of our court system through effective workload measurement. This involved managing the court caseload, enhancing processing speed, optimizing the inflow and outflow of people, and ensuring optimal staffing levels.
			</p>
			
			<h3>Outcome Measurement</h3>
			 <ul class="color-ul">
                <li>
                  1. Measuring the effectiveness of Court Interventions, measuring outcomes, and factors driving outcomes.
                </li>
                <li>
                  2. Understanding patterns in offender behavioral health and linking them to interventions/outcomes.
                </li>
                <li>
                   3. Uncover cause/effect relationships in the data.
                </li> 
            </ul>
			
			
			  <!-- <h3>Impact</h3>
			<p class="pt-2">
			The diversion program was completely transformed, with several program areas being reconfigured and recalibrated-
			</p>
			<ul class="color-ul">
                <li>
                  Several interventions were adjusted based on better effectiveness of interventions for certain groups, and changes were made in the dosage for each modality of intervention.
                </li>
                <li>
                 Policy areas were reviewed and benchmarked for performance measurement, and staff planning, workload distribution, staff training, and staff performance were linked to outcomes.
                </li>
                <li>
                   Lastly, stakeholders and grant funders were provided with evidence of outcome measurements and success.
                </li> 
            </ul> -->

             <h3>What was the impact?</h3>
			<div class="align-center pb-4">
                <div class="">
    
                    <img src="../images/case/impact.png" class="img-dps mt-3 d-flex mx-auto img-box-shadow " alt="">
    
                </div>
            </div>
			
			<p class="pt-2">
			    Don't let your diversion data go to waste – turn it into a powerful tool for success with eMoksha's Data Science Service-Based Diversion Solution. Contact us today to learn more about how we can empower your court to achieve greater outcomes and make informed decisions.
			</p>

            <h3>
            </h3>
			
            
        </div>

    </div><!--end container-->
</section>
