
@{
    ViewBag.Title = "supplychain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Hero -->
<section class="section-two bg-col img-height" style="background: url('../images/career-tech/image4.png') center;"></section><!--end section-->
<!-- Hero End -->

<section class="section-two bg-col bg-white ">
    <div class="container">
        <div class="col-lg-12">

            <h2 class="title text-m text-position text-orange m-font">How eMoksha helped a Steel Fabricator/Distributor <br>resolve its demand forecasting challenges</h2>
            <p class="pt-2">
                eMoksha was approached by Lyman Steel, leading steel fabricator/distribution company that was growing rapidly. The company was facing several challenges in the demand planning processes and customer order fulfillment
            </p>
        </div>

    </div><!--end container-->
</section>
<!-- Start Work -->
<section class="section-two bg-col bg-white pt-0 " id="blog">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title text-center  pb-2">
                    <h4 class="title mb-3 text-orange">
                        Challenges
                    </h4>
                </div>
            </div>
        </div>
        <div class="row justify-content-center ">
            <div class="col">
                <ul class="color-ul">
                    <li>Demand forecasting process was error-prone and required lots of manual input</li>
                    <li>The analysis function was performed in excel sheets, involving gut feeling and dependence on the staff experience resulting in stockouts and customer frustration</li>
                    <li>The post-pandemic supply chain volatility and market conditions were rendering manual processes ineffective</li>
                    <li>The window to place an order with suppliers was drastically cut and these manual processes simply could not keep up with the timeline and volume of data</li>
                </ul>
                <!-- <img src="images/career-tech/Challenges_S.png"  class="img-dps d-flex mx-auto img-box-shadow " alt=""> -->
                <p class="text-white mb-0 para-desc-dps">

                </p>
            </div>
        </div>
    </div>
</section>
<!-- End Work -->
<!-- Start Work -->
<section class="section-two bg-col bg-white pt-0" id="blog">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title text-center ">
                    <h4 class="title mb-3 text-orange">
                        Solution
                    </h4>
                </div>
            </div>
        </div>

        <div class="row justify-content-center ">
            <div class="col">
                <p class="text-dark mb-0 pt-1  p-sec">
                    Our demand prediction-based order recommender system precisely predicts and gives recommendations by leveraging 12-36 months’ worth of historical customer orders, inventory, and supplier orders from the client ERP system. The recommender algorithm provides a push-button answer to the demand forecasting problem.
                </p>
                <img src="~/images/career-tech/Solution_S_Re.png" class="img-dps d-flex mx-auto img-box-shadow " alt="">

            </div>
        </div>
    </div>
</section>
<!-- End Work -->
<!-- Start Cost -->
<section class="section-two bg-col" id="cost" style="background: url('../images/bg/marketing-shape.png') center; background-color: rgba(24, 67, 118, 1);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title text-center mb-2">
                    <h4 class="title mb-3 text-white">Outcome</h4>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        <div class="d-flex align-items-center justify-content-center">
            <div class="col">
                <div>
                    <!-- <p class="text-white  mb-0">
                        eMoksha Demand Planning service has completely transformed how we order steel. A tedious and frustrating process that used to take days with pouring over excel files, purchase orders and not to mention the ‘gut’ feel of warehouse staff is now a point-and-click, 30-minute exercise with pinpoint accuracy. We are saving so much money, time, and effort with the Demand Planning service.
                    </p> -->
                    <ul class="text-white pt-4 ">
                        <li class="mb-2">
                            The solutions resulted in significant time and effort savings for the client. The overall time to plan supplier orders was cutdown from two (2) weeks to <span class="mg-outcome text-orange">30</span> minutes.
                        </li>
                        <li>Client gained significant market share while its competitors did not proactively plan for post-covid changing market conditions regarding lead times and product demand</li>
                        <li>The entire process has been automated where client just needs to click on a button resulting in complete automation of the entire supplier ordering process</li>
                        <li><span class="mg-outcome text-orange">32%</span> reduction in stockout levels</li>
                    </ul>

                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End Cost -->
<!--case study-->
<section class="pt-5 pb-5 ">
    <div class="container">
        <div class="row">
            <div class="col-md-3 testimonial">
                <img src="~/images/customer-quotes/testimonial-1a.png" width="150" height="150" class="testi mt-5" alt="">

            </div>
            <div class="col-md-9 quote-box-shadow">
                <div class="section-title testi text-black mb-4 pb-2">
                    <p class="quote">
                        eMoksha’s Steel Distribution expertise and solutions allow us to manage the entire life cycle of steel distribution from supplier ordering, inventory management, customer orders, shipping, invoicing, payments, and reporting/analytics. Since we implemented eMoksha’s steel distribution solutions, our day-to-day operations have gone through complete automation and resulting transformation. We have realized significant time and effort savings in back-office operations and have eliminated several bottlenecks in warehouse operations. Our business is growing fast and it would have been very challenging as a medium size business to keep up with the growth without investing in technology and automation which has allowed us to do more with less. eMoksha continues to provide us with steel distribution-specific data-driven systems and automation tools which are driving our revenue growth, process efficiencies, and cost savings.
                    </p>
                    <h5 class="h5">
                        Melissa Supler<br />
                        Chief Operating Officer, Lyman Steel
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start Cost -->
<section class="section-two bg-col" id="cost" style="background: url('../images/bg/marketing-shape.png') center; background-color: rgba(24, 67, 118, 1);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-3 text-white">Want to know more about our demand planning?</h4>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        <div class="d-flex align-items-center justify-content-center">
            <div class="col">
                <div>
                    <p class="text-white  mb-0">
                        eMoksha Demand Planning is a cloud-based service that utilizes AI algorithms, machine learning, and historical data to predict future inventory needs of steel distributors based on demand history, seasonality, and steel mill order cycles.
                    </p>
                </div>
                <div class="mt-4 pt-2 text-center">
                    <a href="/Industry/demand" class="btn btn-primary">Know More</a>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End Cost -->

