
@{
    ViewBag.Title = "Career Tech";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Career-Tech Analytics Solutions by eMoksha</title>
    <meta name="description" content="Unlock the power of data in the career-tech industry. eMoksha offers advanced analytics solutions for transformative insights. Maximize your data potential." />
}
<!-- Start Hero -->
<section class="swiper-slider-hero position-relative d-block vh-60" id="home">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex align-items-center bg-slider" data-background="../images/industry/1.webp">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h1 class="display-5 text-white title-dark fw-bold mb-4">
                                        Career Tech Education
                                    </h1>
                                    <!-- <h3 class="text-white">
                                        FOR SUPPLY CHAIN DISTRIBUTION
                                    </h3>  -->
                                    <div class="mt-4 pt-2">
                                        <a href="/Home/get-started" class="btn btn-primary">Get Started</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex align-items-center bg-slider" data-background="../images/industry/CareerTechParent-1.webp">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h1 class="display-5 text-white title-dark fw-bold mb-4">
                                        Career Tech Education
                                    </h1>
                                    <!-- <h3 class="text-white">
                                        FOR CAREER TECH EDUCATIONS
                                    </h3>  -->
                                    <div class="mt-4 pt-2">
                                        <a href="/Home/get-started" class="btn btn-primary">Get Started</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex align-items-center bg-slider" data-background="../images/industry/2.webp">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h1 class="display-5 text-white title-dark fw-bold mb-4">
                                        Career Tech Education
                                    </h1>
                                    <!-- <h3 class="text-white">
                                        FOR MANUFACTURING
                                    </h3>  -->
                                    <div class="mt-4 pt-2">
                                        <a href="/Home/get-started" class="btn btn-primary">Get Started</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
        </div>
        <!-- end swiper-wrapper -->
        <!-- swipper controls -->
        <!-- <div class="swiper-pagination"></div> -->
        <div class="swiper-button-next border rounded-circle text-center"></div>
        <div class="swiper-button-prev border rounded-circle text-center"></div>
    </div><!--end container-->
</section><!--end section-->
<!-- Hero End -->
<!-- Services START  version 1 if required remove d-none-->
<section class="section d-none" id="features">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h3 class="title text-blue mb-3">Overview</h3>
                    <p class="text-black mb-0">
                        Our AI-enabled analytics platform can ingest historical multi-year data from google sheets, excel files, and other data sources where you are entering your capstone, certification, and follow-up data. This platform can help you identify patterns leading to insights about programming effectiveness, future growth areas, retention issues, and employment outcomes. The platform also provides ready-made metrics/benchmarks for state/EMIS reporting.
                    </p>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        <div class="row">
            <div class="col-lg-3 col-md-6 mt-5 pt-4">
                <div class="card features feature-primary feature-shadow-md shadow rounded p-4 pt-5 same-height">
                    <div class="icon-style mt-n80 position-relative text-center shadow rounded bg-white mb-4">
                        <i class="uil uil-airplay h4 mb-0"></i>

                    </div>
                    <div class="content same-height">
                        <a href="" class="title text-blue h5">
                            Capture
                        </a>
                        <p class="text-black mt-3 same-height">
                            Student follow-up and capstone data
                        </p>
                        <!-- <a href="" class="text-orange title">Learn More <i class="uil uil-arrow-right"></i> </a> -->
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-lg-3 col-md-6 mt-5 pt-4">
                <div class="card features feature-primary feature-shadow-md shadow rounded p-4 pt-5 same-height">
                    <div class="icon-style mt-n80 position-relative text-center shadow rounded bg-white mb-4">
                        <i class="uil uil-circle-layer h4 mb-0"></i>
                    </div>
                    <div class="content same-height">
                        <a href="" class="title text-blue h5">
                            Reporting
                        </a>
                        <p class="text-black mt-3 same-height">
                            Push-button metrics generation for State (EMIS) reporting
                        </p>
                        <!-- <a href="" class="text-orange title">Learn More <i class="uil uil-arrow-right"></i> </a> -->
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 mt-5 pt-4">
                <div class="card features feature-primary feature-shadow-md shadow rounded p-4 pt-5 same-height">
                    <div class="icon-style mt-n80 position-relative text-center shadow rounded bg-white mb-4">
                        <i class="uil uil-fire h4 mb-0"></i>
                    </div>
                    <div class="content same-height">
                        <a href="" class="title text-blue h5">
                            AI-Driven
                        </a>
                        <p class="text-black mt-3 same-height">
                            AI-Driven pattern analysis with the analytics module
                        </p>
                        <!-- <a href="" class="text-orange title">Learn More <i class="uil uil-arrow-right"></i> </a> -->
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 mt-5 pt-4">
                <div class="card features feature-primary feature-shadow-md shadow rounded p-4 pt-5 same-height">
                    <div class="icon-style mt-n80 position-relative text-center shadow rounded bg-white mb-4">
                        <i class="uil uil-flip-h h4 mb-0"></i>
                    </div>
                    <div class="content same-height">
                        <a href="" class="title text-blue h5">
                            Automation
                        </a>
                        <p class="text-black mt-3 same-height">
                            Complete automation of manual processes built around Google Sheets
                        </p>
                        <!-- <a href="" class="text-orange title">Read More <i class="uil uil-arrow-right"></i> </a> -->
                    </div>
                </div>
            </div><!--end col-->

        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->
<!-- overview -->
<section class="section bg-col bg-white" id="blog">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title ">
                    <h3 class="title text-blue mb-3 text-center">Overview</h3>
                    <p class="text-black mb-0">
                        Our AI-enabled analytics platform can ingest historical multi-year data from google sheets, excel files, and other data sources where you are entering your capstone, certification, and follow-up data. This platform can help you identify patterns leading to insights about programming effectiveness, future growth areas, retention issues, and employment outcomes. The platform also provides ready-made metrics/benchmarks for state/EMIS reporting.
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center ">
            <div class="col">

                <img src="../images/industry/Carrer Tech1_Brand Color.png" class="img-dps d-flex mx-auto img-box-shadow " alt="">

            </div>
        </div>
    </div>
</section>
<!-- overview -->

<section class="pt-5 pb-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3 testimonial">
                <img src="../images/customer-quotes/dan.png" width="150" height="150" class="testi mt-5" alt="">

            </div>
            <div class="col-md-9 quote-box-shadow">
                <div class="section-title testi text-black mb-4 pb-2">
                    <p class="quote">
                        eMoksha's Tracker platform completely transformed our data capture processes for follow-up, credentials, certification, and work-based learning. This transformation is leading to more efficiency, better quality, and significant time savings for teachers, administrative staff, and the management at R G Drage. In addition, by recognizing patterns in the historical data, evidence-based tactical and strategic decisions can be made about various programs, offerings, and available resources ultimately helping the center to stay focused on student success and achieve better outcomes.
                    </p>
                    <h5 class="h5">
                        DAN MURPHY<br />
                        Director, RG Drage Career Center
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-5 pb-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3 testimonial">
                <img src="../images/customer-quotes/krista.png" width="150" height="150" class="testi mt-5" alt="">

            </div>
            <div class="col-md-9 quote-box-shadow">
                <div class="section-title testi text-black mb-4 pb-2">
                    <p class="quote">
                        eMoksha's analytics platform is helping us dig into years of historical data identifying patterns leading to insights about programming effectiveness, future growth areas, gaps in programming, and retention / program completion issues at an overall center level as well as district/programming level.
                        This tool gives me the big picture I was looking for and provides information at my fingertips to help identify opportunities to optimize various programs/offerings and keep us bullet-focused on student success.
                    </p>
                    <h5 class="h5">
                        KRISTA GEARHART<br />
                        Director, RG Drage Career Center
                    </h5>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Start -->
<section class="section" id="service" style="background: url('../images/bg/marketing-shape.png') center; background-color: rgba(24, 67, 118, 1);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title text-white text-center mb-3">Our Career-Tech Platform solves problems and provides answers</h4>
                    <!-- <p class="text-black mb-0">
                        With our AI-First approach, architecting and developing AI-enabled data analytics and Machine Learning solutions, we seek to inspire organizational innovation and business transformation by delivering key insights and value drivers from organizational data.
                    </p> -->
                </div>
            </div><!--end col-->
        </div><!--end row-->
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card h-100">
                    <div>
                        <img src="../images/industry/xls.png" class="card-img-top mx-auto d-block h-m" alt="...">
                        <div class="card-body ">
                            <!-- <h5 class="card-title text-center text-blue">Data Preparation</h5> -->
                            <p class="text-black text-center mt-3 ">Are you using Google Sheets and Excelfiles for Follow-up, Credentials, and Capstone data?</p>
                            <!-- <a href="" class="link text-orange">Read more <i class="uil uil-arrow-right"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card h-100">
                    <img src="../images/industry/Emis.png" class="card-img-top mx-auto d-block h-m" alt="...">
                    <div class="card-body">
                        <!-- <h5 class="card-title text-center text-blue">Data Quality Asessment</h5> -->
                        <p class="text-black text-center mt-3 ">Are you struggling with data quality when doing EMIS/State Reporting?</p>
                        <!-- <a href="" class="link text-orange">Read more <i class="uil uil-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card h-100">
                    <img src="../images/industry/datsa.png" class="card-img-top mx-auto d-block h-m" alt="...">
                    <div class="card-body ">
                        <!-- <h5 class="card-title text-center text-blue">Machine Learning & Predictive Analysis</h5> -->
                        <p class="text-black text-center mt-3 ">Are teachers and coordinators spending several cycles of multiple reviews to get data right?</p>
                        <!-- <a href="" class="link text-orange">Read more <i class="uil uil-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card h-100">
                    <img src="../images/industry/real-time.png" class="card-img-top mx-auto d-block h-m" alt="...">
                    <div class="card-body ">
                        <!-- <h5 class="card-title text-center text-blue">Data Dashboards</h5> -->
                        <p class="text-black text-center mt-3 ">Does everyone see the same data,in real-time?</p>
                        <!-- <a href="" class="link text-orange">Read more <i class="uil uil-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card h-100">
                    <img src="../images/industry/direct-employment.png" class="card-img-top mx-auto d-block h-m" alt="...">
                    <div class="card-body ">
                        <!-- <h5 class="card-title text-center text-blue">Software Development & System Integration</h5> -->
                        <p class="text-black text-center mt-3 ">Do you know which courses are leading to higher direct employment rates and what those rates are?</p>
                        <!-- <a href="" class="link text-orange">Read more <i class="uil uil-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card h-100">
                    <img src="../images/industry/employement.png" class="card-img-top mx-auto d-block h-m" alt="...">
                    <div class="card-body ">
                        <!-- <h5 class="card-title text-center text-blue">Data Discovery</h5> -->
                        <p class="text-black text-center mt-3 ">Does the learning industry credentials path lead to better employment opportunities?</p>
                        <!-- <a href="" class="link text-orange">Read more <i class="uil uil-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
        </div>


    </div><!--end container-->
</section><!--end section-->
<!-- End -->
<!-- Start -->
<section class="section d-none" id="service">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title text-blue mb-3">Platform Features</h4>
                    <!-- <p class="text-black mb-0">
                        With our AI-First approach, architecting and developing AI-enabled data analytics and Machine Learning solutions, we seek to inspire organizational innovation and business transformation by delivering key insights and value drivers from organizational data.
                    </p> -->
                </div>
            </div><!--end col-->
        </div><!--end row-->
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="card h-100">
                    <div>
                        <img src="../images/industry/simple.png" class="card-img-top mx-auto d-block h-m" alt="...">
                        <div class="card-body ">
                            <h5 class="card-title text-center text-blue">Simple to Use</h5>
                            <!-- <p class="text-black mt-3 ">Are you using Google Sheets and Excelfiles for Follow-up, Credentials, and Capstone data?</p> -->
                            <!-- <a href="" class="link text-orange">Read more <i class="uil uil-arrow-right"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="card h-100">
                    <img src="../images/industry/navigate.png" class="card-img-top mx-auto d-block h-m" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center text-blue">Easy to Navigate</h5>
                        <!-- <p class="text-black mt-3 ">Are you struggling with data quality when doing EMIS/State Reporting?</p> -->
                        <!-- <a href="" class="link text-orange">Read more <i class="uil uil-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 mb-3">
                <div class="card h-100">
                    <img src="../images/industry/self.png" class="card-img-top mx-auto d-block h-m" alt="...">
                    <div class="card-body ">
                        <h5 class="card-title text-center text-blue">Self-service</h5>
                        <!-- <p class="text-black mt-3 ">Are teachers and coordinators spending several cycles of multiple reviews to get data right?</p> -->
                        <!-- <a href="" class="link text-orange">Read more <i class="uil uil-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="card h-100">
                    <img src="../images/industry/configure.png" class="card-img-top mx-auto d-block h-m" alt="...">
                    <div class="card-body ">
                        <h5 class="card-title text-center text-blue">Configurable for the future</h5>
                        <!-- <p class="text-black mt-3 ">Does everyone see the same data,in real-time?</p> -->
                        <!-- <a href="" class="link text-orange">Read more <i class="uil uil-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
        </div>


    </div><!--end container-->
</section><!--end section-->
<!-- End -->
<!-- platform features -->
<section class="section bg-col bg-white" id="blog">
    <div class="container">
        <!-- <div class="row justify-content-center">
            <div class="col">
                <div class="section-title text-center ">
                    <h3 class="title text-blue mb-3">Platfrom Features</h3>

                </div>
            </div>
        </div> -->
        <div class="row justify-content-center ">
            <div class="col">

                <img src="../images/industry/Platform Features Infographics_Brand Colors.png" class="img-dps d-flex mx-auto img-box-shadow " alt="">

            </div>
        </div>
    </div>
</section>
<!-- platform features -->
<!-- Start -->
<section class="section" id="service" style="background: url('../images/bg/marketing-shape.png') center; background-color: rgba(24, 67, 118, 1);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title text-white mb-3">Benefits</h4>
                    <!-- <p class="text-black mb-0">
                        With our AI-First approach, architecting and developing AI-enabled data analytics and Machine Learning solutions, we seek to inspire organizational innovation and business transformation by delivering key insights and value drivers from organizational data.
                    </p> -->
                </div>
            </div><!--end col-->
        </div><!--end row-->
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card h-100">
                    <div>
                        <img src="../images/industry/dashboard.png" class="card-img-top mx-auto d-block h-m" alt="...">
                        <div class="card-body ">
                            <h5 class="card-title text-center text-blue">STAFF REPORTING EFFICIENCY</h5>
                            <p class="text-black text-center mt-3 ">Readymade data and metrics available for state reporting</p>
                            <!-- <a href="" class="link text-orange">Read more <i class="uil uil-arrow-right"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card h-100">
                    <img src="../images/industry/Emis.png" class="card-img-top mx-auto d-block h-m" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center text-blue">DATA QUALITY CONTROL</h5>
                        <p class="text-black text-center mt-3 ">Time and effort saved in maintaining data</p>
                        <!-- <a href="" class="link text-orange">Read more <i class="uil uil-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card h-100">
                    <img src="../images/industry/real-time.png" class="card-img-top mx-auto d-block h-m" alt="...">
                    <div class="card-body ">
                        <h5 class="card-title text-center text-blue">REAL-TIME UPDATES ANALYTICS</h5>
                        <p class="text-black text-center mt-3 ">Real-time updates make data available to all</p>
                        <!-- <a href="" class="link text-orange">Read more <i class="uil uil-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
        </div>


    </div><!--end container-->
</section><!--end section-->
<!-- End -->

