
@{
    ViewBag.Title = "County Courts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags
{
    <title>Data Science Solutions for County Courts - eMoksha</title>
    <meta name="description" content="Revolutionize decision making in county courts with eMoksha's data science services. Gain valuable insights for enhanced efficiency and fair outcomes." />
}
<!-- Start Hero -->
<section class="swiper-slider-hero position-relative d-block vh-60" id="home">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex align-items-center bg-slider" data-background="../../images/industry/county-courts/County-Government-1.webp">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h1 class="display-5 text-white title-dark fw-bold mb-4">
                                        County Courts
                                    </h1>
                                    <!-- <h3 class="text-white">
                                        FOR SUPPLY CHAIN DISTRIBUTION
                                    </h3>  -->
                                    <div class="mt-4 pt-2">
                                        <a href="/Home/get-started" class="btn btn-primary">Get Started</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex align-items-center bg-slider" data-background="../../images/industry/county-courts/County-Government-2.webp">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h1 class="display-5 text-white title-dark fw-bold mb-4">
                                        County Courts
                                    </h1>
                                    <!-- <h3 class="text-white">
                                        FOR CAREER TECH EDUCATIONS
                                    </h3>  -->
                                    <div class="mt-4 pt-2">
                                        <a href="/Home/get-started" class="btn btn-primary">Get Started</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex align-items-center bg-slider" data-background="../../images/industry/county-courts/County-Government-3.webp">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h1 class="display-5 text-white title-dark fw-bold mb-4">
                                        County Courts
                                    </h1>
                                    <!-- <h3 class="text-white">
                                        FOR MANUFACTURING
                                    </h3>  -->
                                    <div class="mt-4 pt-2">
                                        <a href="/Home/get-started" class="btn btn-primary">Get Started</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
        </div>
        <!-- end swiper-wrapper -->
        <!-- swipper controls -->
        <!-- <div class="swiper-pagination"></div> -->
        <div class="swiper-button-next border rounded-circle text-center"></div>
        <div class="swiper-button-prev border rounded-circle text-center"></div>
    </div><!--end container-->
</section><!--end section-->
<!-- Hero End -->
<!-- Services START  version 1 if required remove d-none-->
<section class="section" id="features">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title mb-4 pb-2">
                    <h3 class="title text-blue text-center mb-3">Overview</h3>
                    <p class="text-black mb-4">
                        eMoksha Data Science as a service offering enables courts to better understand their data to guide their decisions and actions. We utilize state-of-the-art data visualization and AI algorithms for finding correlations, patterns, and outliers in court data. We deliver customized metrics and key performance indicators for:
                    </p>
                    <ul class="color-ul">
                        <li>Measuring recidivism, penetration rates, and factors driving such outcomes</li>
                        <li>Measuring the effectiveness of Court programming and interventions</li>
                        <li>Case Load of various program areas, processing speed, In/outflow of people, optimizing staffing and budgets</li>
                        <li>Identifying and measuring bottlenecks in court processes</li>
                        <li>Measuring compliance, timelines, speed, and efficiency of work</li>
                        <li>Understanding patterns in offender behaviors and linking them to interventions/outcomes</li>
                    </ul>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Start -->
<section class="section" id="service" style="background: url('../../images/bg/marketing-shape.png') center; background-color: rgba(24, 67, 118, 1);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7 col-lg-12 col-md-12 bg-white">
                <div class="content p-5">
                    <h1 class="title text-blue mb-3">County Court Solution</h1>
                    <p class="text-black">
                        Our innovative solutions can ingest raw data to readily produce KPIs/Benchmarks. Our approach focuses on "Cause/Effect" analysis by not only understanding "what"  is happening but "why" is something happening and "what" needs to be done to address it.
                    </p>
                </div>
            </div><!--end col-->

            <div class="col-xl-5 col-lg-12 col-md-12">
                <div class="content-img">
                    <img src="~/images/industry/county-courts/County Court Solution Vertical_01_Brand Color.png" style="width:400px" class="mx-auto d-block img-box-shadow" alt="">
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->
<!-- Start -->
<section class="section bg-light" id="service">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-12 col-md-12">
                <div class="content-img">
                    <img src="~/images/industry/county-courts/Questions we can answer_Brand Color_Revised.png" style="width:400px" class="mx-auto d-block img-box-shadow" alt="">
                </div>
            </div><!--end col-->
            <div class="col-xl-7 col-lg-12 col-md-12 bg-white">
                <div class="content p-5">
                    <h1 class="title text-blue mb-3">Questions that we can answer</h1>
                    <p class="text-black">
                        eMoksha's Program Evaluation service leverages advanced Data Science capabilities and algorithms to identify patterns in historical program data, providing valuable insights for evaluating court programs. By analyzing data using AI and machine learning, our service enables us to assess the effectiveness of court programs/interventions and identify areas for improvement.
                    </p>
                </div>
            </div><!--end col-->


        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->
<!-- Start Demand Planning Benefits -->
<section class="section pt-5" style="background: url('../../images/bg/marketing-shape.png') center; background-color: rgba(24, 67, 118, 1);">
    <!-- <div class="blue-bg-overlay"></div> -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-3 text-white">Key Features</h4>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        <div class="d-flex align-items-start position-relative tabs-hide">
            <div class="nav flex-column nav-pills me-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link v-tabs active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Performance Benchmarking</button>
                <button class="nav-link v-tabs" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Workload Measurement</button>
                <button class="nav-link v-tabs" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Outcome Measurement</button>
            </div>
            <div class="tab-content bg-white w-100 p-5" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6">
                            <h5 class="title text-orange mb-3">Performance Benchmarking</h5>
                            <p class="text-black para-desc mb-0">
                                Identifying and measuring bottlenecks in court processes. Measuring compliance, timelines, speed, volume, and efficiency of work.
                            </p>
                        </div>
                        <div class="col-xl-6">
                            <img src="~/images/industry/county-courts/Performance Benchmarking.png" class="mx-auto img-box-shadow img-space" alt="">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6">
                            <h5 class="title text-orange mb-3">Workload Measurement</h5>
                            <p class="text-black para-desc mb-0">
                                Case Load, processing speed, In/outflow of people, optimize staffing.
                            </p>
                        </div>
                        <div class="col-xl-6">
                            <img src="~/images/industry/county-courts/Workload Measurement.png" class="mx-auto img-box-shadow img-space" alt="">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6">
                            <h5 class="title text-orange mb-3">Outcome Measurement</h5>

                            <ul class="color-ul mt-3">
                                <li>Measuring recidivism, failure to appear (FTA), penetration rates, and factors driving deeper penetration of offenders into the justice system.</li>
                                <li>Measuring the effectiveness of Court Interventions, measuring outcomes, and factors driving outcomes.</li>
                                <li>Understanding patterns in offender behavioral health and linking it to interventions/outcomes.</li>
                                <li>Uncover cause/effect relationships in the data.</li>
                            </ul>
                        </div>
                        <div class="col-xl-6">
                            <img src="~/images/industry/county-courts/Outcome Measurement.png" class="mx-auto img-box-shadow img-space" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end vertical tabs-->
        <div class="custom-acc accordion position-relative tabs-show" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Performance Benchmarking
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="text-black para-desc mb-0">
                            Identifying and measuring bottlenecks in court processes. Measuring compliance, timelines, speed, volume, and efficiency of work.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Workload Measurement
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="text-black para-desc mb-0">
                            Case Load, processing speed, In/outflow of people, optimize staffing.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Outcome Measurement
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">

                        <ul class="color-ul mt-3">
                            <li>Measuring recidivism, failure to appear (FTA), penetration rates, and factors driving deeper penetration of offenders into the justice system.</li>
                            <li>Measuring the effectiveness of Court Interventions, measuring outcomes, and factors driving outcomes.</li>
                            <li>Understanding patterns in offender behavioral health and linking it to interventions/outcomes.</li>
                            <li>Uncover cause/effect relationships in the data.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end container-->
</section><!--end section-->
<!-- End Demand Planning Benefits -->


