
@{
    ViewBag.Title = "CTlytics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags
{
    <title>eMoksha CTlytics: Student Insights & Performance Metrics</title>
    <meta name="description" content="Gain valuable insights into student performance with eMoksha CTlytics. Analyze student data, programming, certifications, capstone projects, and follow-up using comprehensive metrics and KPIs." />
}
<!-- Start Hero -->
<section class="swiper-slider-hero position-relative d-block vh-60" id="home">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex align-items-center bg-slider" data-background="../../images/industry/Ctlytics/CTlytics-1.png">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h1 class="display-5 text-white title-dark fw-bold mb-4">
                                        CTlytics
                                    </h1>
                                    <div class="mt-4 pt-2 ">
                                        <a href="/Home/get-started" class="btn btn-primary">Contact us</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->

            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex align-items-center bg-slider" data-background="../../images/industry/Ctlytics/CTlytics-2.png">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h1 class="display-5 text-white title-dark fw-bold mb-4">
                                        CTlytics
                                    </h1>
                                    <div class="mt-4 pt-2">
                                        <a href="/Home/get-started" class="btn btn-primary">Get Started</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->

            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex align-items-center bg-slider" data-background="../../images/industry/Ctlytics/CTlytics-3.png">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h1 class="display-5 text-white title-dark fw-bold mb-4">
                                        CTlytics
                                    </h1>
                                    <div class="mt-4 pt-2">
                                        <a href="/Home/get-started" class="btn btn-primary">Get Started</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
        </div>
        <!-- end swiper-wrapper -->
        <!-- swipper controls -->
        <!-- <div class="swiper-pagination"></div> -->
        <div class="swiper-button-next border rounded-circle text-center"></div>
        <div class="swiper-button-prev border rounded-circle text-center"></div>
    </div><!--end container-->
</section><!--end section-->
<!-- Hero End -->

         <!-- overview -->
         <section class="section bg-col bg-white" id="blog">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="section-title ">
                            <h3 class="title text-blue mb-3 text-center">Overview</h3>
                            <p class="text-black mb-0">
                                Our CTlytics module provides metrics and KPIs to analyze and understand information about the students, student programming, certifications, capstone and follow-up. By collecting and analyzing such data regarding student's in-program performance, post- program follow-up helps the leadership make strategic decisions regarding student learning and programming being offered.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- overview -->



<!-- Predictive Capabilities  -->
<section class="section bg-col" id="blog" style="background: url('../../images/bg/marketing-shape.png') center; background-color: rgba(24, 67, 118, 1);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title-2 text-center ">
                    <h1 class="title text-white">
                        What CTlytics does
                    </h1>
                </div>
            </div>
        </div>

        <div class="row justify-content-center ">
            <div class="col">
                <!--<p class="text-white mb-0 para-desc-dps">
                    Have the right materials available — at the right time, in the right place — to deliver increased revenues, higher profits, and maximum ROI.
                </p> -->
                <img src="../../images/industry/Ctlytics/What CTlytics Does1_R.png"  class="img-dps d-flex mx-auto " alt="">
            </div>
        </div>
    </div>
    </section>
    <!-- End Predictive Capabilities   -->

<!-- Predictive Capabilities  -->
<section class="section bg-col bg-light" id="blog" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title-2 text-center ">
                    <h1 class="title text-blue">
                        How CTlytics gets data
                    </h1>
                </div>
            </div>
        </div>

        <div class="row justify-content-center ">
            <div class="col">
                <!--<p class="text-white mb-0 para-desc-dps">
                    Have the right materials available — at the right time, in the right place — to deliver increased revenues, higher profits, and maximum ROI.
                </p> -->
                <img src="../../images/industry/Ctlytics/HOW CTlytics GETS DATA1_R.png"  class="img-dps d-flex mx-auto " alt="">
            </div>
        </div>
    </div>
    </section>
    <!-- End Predictive Capabilities   -->

<!-- Predictive Capabilities  -->
<section class="section bg-col" id="blog" style="background: url('../../images/bg/marketing-shape.png') center; background-color: rgba(24, 67, 118, 1);" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title-2 text-center ">
                    <h1 class="title text-white">
                        How CTlytics works
                    </h1>
                </div>
            </div>
        </div>

        <div class="row justify-content-center ">
            <div class="col">
                <!--<p class="text-white mb-0 para-desc-dps">
                    Have the right materials available — at the right time, in the right place — to deliver increased revenues, higher profits, and maximum ROI.
                </p> -->
                <img src="../../images/industry/Ctlytics/HOW CTlytics Works1_R.png"  class="img-dps d-flex mx-auto " alt="">
            </div>
        </div>
    </div>
    </section>
    <!-- End Predictive Capabilities   -->


    <section class="pt-5 pb-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3 testimonial">
                    <img src="~/images/customer-quotes/krista.png" width="150" height="150" class="testi mt-5" alt="">
                </div>
                <div class="col-md-9 quote-box-shadow">
                    <div class="section-title testi text-black mb-4 pb-2">
                          <p class="quote">
                            eMoksha's analytics platform is helping us dig into years of historical data identifying patterns leading to insights about programming effectiveness, future growth areas, gaps in programming, and retention / program completion issues at an overall center level as well as district/programming level. This tool gives me the big picture I was looking for and provides information at my fingertips to help identify opportunities to optimize various programs/offerings and keep us bullet-focused on student success.
                        </p>
                        <h5 class="h5">
                            KRISTA GEARHART<br />
                            Director of CTE, South Stark Career Academy
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!-- Start key features -->
<section class="section pt-5" style="background: url('../../images/bg/marketing-shape.png') center; background-color: rgba(24, 67, 118, 1);">
    <!-- <div class="blue-bg-overlay"></div> -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title-2 text-center mb-4 pb-2">
                    <h1 class="title mb-3 text-white">Key Questions</h1>
                    <img src="../../images/industry/Ctlytics/CTlytics-Counter.svg" class="mx-auto mt-3 img-box-shadow img-space" style="width:100%"alt="">
                </div>
                
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End Demand Planning Benefits -->
