
@{
    ViewBag.Title = "demand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>eMoksha Demand Software - Steel Inventory and Forecasting Optimization</title>
    <meta name="description" content="Boost profitability with eMoksha's Inventory and Forecasting Optimization service.Make data-driven decisions and predict future inventory needs based on historical demand, seasonality, and steel mill order cycles." />
}

<!-- Start Hero -->
<section class="section bg-col" style="background: url('../images/slider/Website-Home-Page-1.png') left;">
    <div class="container">
        <div class="col-lg-12">
            <h1 class="title text-white text-center">eMoksha Demand Planning Service</h1>
            <div class="mt-4 pt-2 text-center">
                <a href="/Home/get-started" class="btn btn-primary">Get Started</a>
            </div>
        </div>

    </div><!--end container-->
</section><!--end section-->
<!-- Hero End -->
<!-- Start -->
<section class="section bg-light" id="service">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title text-blue mb-3">Inventory and Forecasting Optimization</h4>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row bg-white align-items-center">
            <div class="col-xl-7 col-lg-12 col-md-12">
                <div class="content p-5">
                    <p class="text-black">
                        eMoksha Demand Planning is a cloud-based demand planning service that uses AI algorithms, historical data, and machine learning to help a steel distribution business predict future inventory needs based on historical demand, seasonality, and steel mill order cycles. Demand Planning predicts what to order, when to order, how much to order and when to expect it in the warehouse. This helps optimize item levels in the warehouse, enhances supply chain planning, and ensures that steel distributors are ordering the right items from the mill and other suppliers to fill customer orders without overstocking steel plates raising carrying costs, and tying up cash in the inventory.
                    </p>
                </div>
            </div><!--end col-->

            <div class="col-xl-5 col-lg-12 col-md-12">
                <div class="content-img">
                    <img src="~/images/demand-planning/demand-forecasting.png" width="594" height="350" class="mx-auto d-block img-box-shadow" alt="">
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->




<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 testimonial">
                <img src="~/images/customer-quotes/testimonial-1a.png" width="150" height="150" class="testi mt-5" alt="">

            </div>
            <div class="col-md-9 quote-box-shadow">
                <div class="section-title testi text-black mb-4 pb-2">
                    <p class="quote">
                        eMoksha Demand Planning service has completely transformed how we order steel. A tedious and frustrating process that used to take days with pouring over excel files, purchase orders and not to mention the ‘gut’ feel of warehouse staff is now a point-and-click, 30-minute exercise with pinpoint accuracy. We are saving so much money, time, and effort with the Demand Planning service.
                    </p>
                    <h5 class="h5">
                        Melissa Supler<br />
                        Chief Operating Officer, Lyman Steel
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start Demand Planning Benefits -->
<section class="section pt-5" style="background: url('../images/bg/marketing-shape.png') center; background-color: rgba(24, 67, 118, 1);">
    <!-- <div class="blue-bg-overlay"></div> -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-3 text-white">Demand Planning Benefits</h4>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="d-flex align-items-start position-relative tabs-hide">
            <div class="nav flex-column nav-pills me-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link v-tabs active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Profitability and ROI</button>
                <button class="nav-link v-tabs" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Time and Effort Savings</button>
                <button class="nav-link v-tabs" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Customer Service</button>
                <button class="nav-link v-tabs" id="v-pills-implementation-tab" data-bs-toggle="pill" data-bs-target="#v-pills-implementation" type="button" role="tab" aria-controls="v-pills-implementation" aria-selected="false">Quick Implementation</button>
            </div>
            <div class="tab-content bg-white w-100 p-5" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6">
                            <h5 class="title text-orange mb-3">Profitability and ROI</h5>
                            <p class="text-black para-desc mb-0">
                                Ensure that your warehouse is stocked with the necessary items to fill customer orders without excess items that sit in the warehouse thus freeing up cash
                            </p>
                        </div>
                        <div class="col-xl-6">
                            <img src="~/images/demand-planning/Profitability and ROI.png" class="mx-auto img-box-shadow img-space" alt="">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6">
                            <h5 class="title text-orange mb-3">Time and Effort Savings</h5>
                            <p class="text-black para-desc mb-0">
                                Stop hunting for data at decision time. Speed is everything in today’s business. Save significant staff time and effort to figure out what’s needed, when needed, and how much is needed with the click of a button
                            </p>
                        </div>
                        <div class="col-xl-6">
                            <img src="~/images/demand-planning/Time and Effort saving.png" class="mx-auto img-box-shadow img-space" alt="">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6">
                            <h5 class="title text-orange mb-3">Customer Service</h5>
                            <p class="text-black para-desc mb-0">
                                Accurately predict when an item will arrive in the warehouse and set customer expectations for the delivery accordingly; help build predictability of item availability for your customers
                            </p>
                        </div>
                        <div class="col-xl-6">
                            <img src="~/images/demand-planning/Customer service.png" class="mx-auto img-box-shadow img-space" alt="">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-implementation" role="tabpanel" aria-labelledby="v-pills-implementation-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6">
                            <h5 class="title text-orange mb-3">Quick Implementation</h5>
                            <p class="text-black para-desc mb-0">
                                You just upload the data we ask for and we do the rest. No onsite IT implementation is needed, you just get the results delivered to you on our portal to review the decision data points
                            </p>
                        </div>
                        <div class="col-xl-6">
                            <img src="~/images/demand-planning/Quick implementation.png" class="mx-auto img-box-shadow img-space" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end vertical tabs-->
        <div class="custom-acc accordion position-relative tabs-show" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Profitability and ROI
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="para-desc mb-0">
                            Ensure that your warehouse is stocked with the necessary items to fill customer orders without excess items that sit in the warehouse thus freeing up cash
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Time and Effort Savings
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="para-desc mb-0">
                            Stop hunting for data at decision time. Speed is everything in today’s business. Save significant staff time and effort to figure out what’s needed, when needed, and how much is needed with the click of a button
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Customer Service
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="para-desc mb-0">
                            Accurately predict when an item will arrive in the warehouse and set customer expectations for the delivery accordingly; help build predictability of item availability for your customers
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Quick Implementation
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="para-desc mb-0">
                            You just upload the data we ask for and we do the rest. No onsite IT implementation is needed, you just get the results delivered to you on our portal to review the decision data points
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end container-->
</section><!--end section-->
<!-- End Demand Planning Benefits -->
<!-- Start Solves -->
<section class="section bg-light" id="solve">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title  text-blue mb-3">Challenges eMoksha Demand Planning solves</h4>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row desc">
            <div class="col-lg-12">
                <div class="overlap-image">
                    <img src="~/images/demand-planning/Challenges-image.png" class="mx-auto img-box-shadow" alt="">
                </div>
                <div class="col-lg-8 offset-lg-4">
                    <div class="overlap-text chlg">
                        <p class="text-black para-desc mb-0 p-2"><b>Short-Time Window </b> Steel business is unique in its own way. Mills and suppliers give a very short time window to order. If you don’t have an accurate demand forecast at your fingertips then you resort to manual processes, gut feeling, and guesswork to push the order through knowing well that your business can do better than that.</p>
                        <p class="text-black para-desc mb-0 p-2"><b>Lost Sales</b> How do you ensure you have the right product stocked for the right customer need? Ensure product availability and maximize sales by accurately planning for future demand.</p>
                        <p class="text-black para-desc mb-0 p-2"><b>Excess Inventory Cost </b>Eliminate excess overhead associated with storing unsold inventory.</p>

                    </div>
                </div>
            </div>

        </div>
        <!--end row-->
        <div class="row mob">
            <div class="col-md-12">
                <img src="~/images/demand-planning/Challenges-image.png" class="mx-auto img-box-shadow" alt="">
            </div>
            <div class="col-md-12">
                <div class="chlg">
                    <p class="text-black para-desc mb-0"><b>Short-Time Window</b> Steel business is unique in its own way. Mills and suppliers give a very short time window to order. If you don’t have an accurate demand forecast at your fingertips then you resort to manual processes, gut feeling, and guesswork to push the order through knowing well that your business can do better than that.</p>
                    <p class="text-black para-desc mb-0"><b>Lost Sales</b> How do you ensure you have the right product stocked for the right customer need? Ensure product availability and maximize sales by accurately planning for future demand.</p>
                    <p class="text-black para-desc mb-0"><b>Excess Inventory Cost </b>Eliminate excess overhead associated with storing unsold inventory.</p>

                </div>
            </div>

        </div>

    </div><!--end container-->
</section><!--end section-->
<!-- End Solves -->
<!-- Start Work -->
<section class="section bg-col d-none" id="blog" style="background: url('../images/bg/marketing-shape.png') center; background-color: rgba(24, 67, 118, 1);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-3 text-white">
                        How does this Demand Planning Service work?
                    </h4>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-6">
                <p class="text-white para-desc mb-0">
                    Have the right materials available — at the right time, in the right place — to deliver increased revenues, higher profits, and maximum ROI.
                </p>
            </div>
            <div class="col-lg-6">
                <img src="~/images/demand-planning/Infographics_300123.png" class="mx-auto img-box-shadow basic-img" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End Work -->
<!-- Start Work -->
<section class="section bg-col" id="blog" style="background: url('../images/bg/marketing-shape.png') center; background-color: rgba(24, 67, 118, 1);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title text-center ">
                    <h4 class="title text-white">
                        How does this Demand Planning Service work?
                    </h4>
                </div>
            </div>
        </div>

        <div class="row justify-content-center ">
            <div class="col">
                <!--<p class="text-white mb-0 para-desc-dps">
                    Have the right materials available — at the right time, in the right place — to deliver increased revenues, higher profits, and maximum ROI.
                </p> -->
                <img src="~/images/demand-planning/Infographics_300123.png" class="img-dps d-flex mx-auto img-box-shadow " alt="">
            </div>
        </div>
    </div>
</section>
<!-- End Work -->
<!-- Start Use -->
<section class="section bg-image" id="use">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title text-center mb-4 p-2">
                    <h4 class="title text-blue mb-3">Who should use this service?</h4>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        <div class="row align-items-center">
            <div class="col-lg-6 d-none d-lg-block">
                <img src="~/images/demand-planning/Demand-Planning-Distributor-section.png" class="mx-auto img-box-shadow basic-img " alt="" />
            </div>

            <div class="col-lg-6">
                <div class="d-grid gap-3">
                    <div class="p-2 img-box-shadow dp">
                        <p class="text-black mt-2 p-2">
                            Distributors who are doing excel based forecasting which is error prone and requires lots of time and effort when placing a supplier order .
                        </p>
                    </div>
                    <div class="p-2 img-box-shadow dp">
                        <p class="text-black mt-2 p-2">
                            Distributors who are just winging it and doing no forecasting at all. They check with warehouse staff what the item needs are when decision time comes. Relying on excel files and memory of warehouse staff is not an optimal strategy to run a profitable business.
                        </p>
                    </div>
                    <div class="p-2 img-box-shadow dp">
                        <p class="text-black mt-2 p-2">
                            Distributors who are frustrated knowing that there is a better way to balance  supplier orders and customer demand but don’t have the time and bandwidth to implement a new in-house system
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div><!--end container-->
</section><!--end section-->
<!-- End Use -->
<!-- Start Cost -->
<section class="section bg-col" id="cost" style="background: url('../images/bg/marketing-shape.png') center; background-color: rgba(24, 67, 118, 1);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-3 text-white">How is this service priced?</h4>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="d-flex align-items-center justify-content-center">
            <div class="col">
                <div>
                    <p class="text-white  mb-0">
                        You can subscribe to Demand Planning Service for an annual service fee and get a demand portal access license. You can get more access licenses as you need them but generally, a single portal license subscription is sufficient. There is a one-time setup fee for the initial setup.
                    </p>
                </div>
                <div class="mt-4 pt-2 text-center">
                     
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End Cost -->


