
@{
    ViewBag.Title = "erp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>eMoksha ERP Software - Simplifying Steel Distribution With Predictive Capabilities</title>
    <meta name="description" content="Our ERP system eliminates all the process complexities, bells, and whistles of a full-suite ERP. This ERP tailors to a specific workflow inside a small to medium size steel fabrication/distribution center." />
}
<!-- Start Hero -->
<section class="section bg-col" style="background: url('../images/erp/1.png') left;">
    <div class="banner-overlay"></div>
    <div class="container">
        <div class="col-lg-12" style="position: relative;">
            <h1 class="title text-white text-center">eMoksha ERP Software</h1>
            <div class="mt-4 pt-2 text-center">
                <a href="/Home/get-started" class="btn btn-primary">Get Started</a>
            </div>
        </div>

    </div><!--end container-->
</section><!--end section-->
<!-- Hero End -->
<!-- Start -->
<section class="section bg-light" id="service">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title-2 text-center mb-4 pb-2">
                    <h1 class="title text-blue mb-3">Built for small to medium size <br>steel and metal fabricator/distributor</h1>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row bg-white align-items-center">
            <div class="col-xl-7 col-lg-12 col-md-12">
                <div class="content p-5">
                    <p class="text-black">
                        An  ERP system that eliminates all the process complexities, bells, and whistles of a full-suite ERP. This ERP tailors to a specific workflow inside a small to medium size steel fabrication/distribution center. The system allows a 2-3 person team to smartly manage the entire life cycle of ordering steel, managing inventory, suppliers, and cash resulting in speed, efficiency, and cost savings with minimal manpower need. The system is built specifically to be cost effective and allows small distribution centers to do more with less. You'll be able to manage all aspects of your business operations with ease, freeing up time and resources to focus on other areas of your business thus operating your business at its full potential
                    </p>
                </div>
            </div><!--end col-->

            <div class="col-xl-5 col-lg-12 col-md-12">
                <div class="content-img">
                    <img src="~/images/erp/ERP-landing-page.png" width="594" height="350" class="mx-auto d-block img-box-shadow" alt="">
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->
<!-- key features -->
<section class="section bg-col d-none" id="blog" style="background: url('../images/bg/marketing-shape.png') center; background-color: rgba(24, 67, 118, 1);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title-2 text-center ">
                    <h4 class="title text-white">
                        Key Features
                    </h4>
                </div>
            </div>
        </div>

        <div class="row justify-content-center ">
            <div class="col">
                <!--<p class="text-white mb-0 para-desc-dps">
                    Have the right materials available — at the right time, in the right place — to deliver increased revenues, higher profits, and maximum ROI.
                </p> -->
                <img src="~/images/erp/ERP-Key-Features.png" class="img-dps d-flex mx-auto img-box-shadow " alt="">
            </div>
        </div>
    </div>
</section>
<!-- End key features  -->
<!-- Start key features -->
<section class="section pt-5" style="background: url('../images/bg/marketing-shape.png') center; background-color: rgba(24, 67, 118, 1);">
    <!-- <div class="blue-bg-overlay"></div> -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title-2 text-center mb-4 pb-2">
                    <h1 class="title mb-3 text-white">Key Features</h1>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="d-flex align-items-start position-relative tabs-hide">
            <div class="nav flex-column nav-pills me-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link v-tabs-2 active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Customer Order Entry</button>
                <button class="nav-link v-tabs-2" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Supplier Management</button>
                <button class="nav-link v-tabs-2" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Accounting</button>
                <button class="nav-link v-tabs-2" id="v-pills-implementation-tab" data-bs-toggle="pill" data-bs-target="#v-pills-implementation" type="button" role="tab" aria-controls="v-pills-implementation" aria-selected="false">Customer Management</button>
                <button class="nav-link v-tabs-2" id="v-pills-im-tab" data-bs-toggle="pill" data-bs-target="#v-pills-im" type="button" role="tab" aria-controls="v-pills-im" aria-selected="false">Inventory Management</button>
                <button class="nav-link v-tabs-2" id="v-pills-wa-tab" data-bs-toggle="pill" data-bs-target="#v-pills-wa" type="button" role="tab" aria-controls="v-pills-wa" aria-selected="false">Warehouse Automation</button>
                <button class="nav-link v-tabs-2" id="v-pills-qa-tab" data-bs-toggle="pill" data-bs-target="#v-pills-qa" type="button" role="tab" aria-controls="v-pills-qa" aria-selected="false">QuickBooks Automation</button>
            </div>
            <div class="tab-content bg-white w-80 p-5" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6">
                            <h4 class="title text-orange mb-3">Customer Order Entry</h4>
                            <p class="text-black para-desc mb-0">
                                Manage order entry, shipping, customer invoicing, and customer payments
                            </p>
                        </div>
                        <div class="col-xl-6">
                            <img src="~/images/erp/Customer-Orders.PNG" class="mx-auto img-box-shadow img-space" alt="">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6">
                            <h4 class="title text-orange mb-3">Supplier Management</h4>
                            <p class="text-black para-desc mb-0">
                                Manage supplier information, supplier orders, supplier payments, purchase orders
                            </p>
                        </div>
                        <div class="col-xl-6">
                            <img src="~/images/erp/Supplier-Management.png" class="mx-auto img-box-shadow img-space" alt="">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6">
                            <h4 class="title text-orange mb-3">Accounting</h4>
                            <p class="text-black para-desc mb-0">
                                Timeclock entry, payroll, receiving payments
                            </p>
                        </div>
                        <div class="col-xl-6">
                            <img src="~/images/erp/Accounts-Receivables.png" class="mx-auto img-box-shadow img-space" alt="">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-implementation" role="tabpanel" aria-labelledby="v-pills-implementation-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6">
                            <h4 class="title text-orange mb-3">Customer Management</h4>
                            <p class="text-black para-desc mb-0">
                                Manage master customer data, names, addresses, billing information, customer locations, shipping destinations
                            </p>
                        </div>
                        <div class="col-xl-6">
                            <img src="~/images/erp/Customer-Management.png" class="mx-auto img-box-shadow img-space" alt="">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-im" role="tabpanel" aria-labelledby="v-pills-im-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6">
                            <h4 class="title text-orange mb-3">Inventory Management</h4>
                            <p class="text-black para-desc mb-0">
                                Track and manage inventory
                            </p>
                        </div>
                        <div class="col-xl-6">
                            <img src="~/images/erp/Inventory-Control.png" class="mx-auto img-box-shadow img-space" alt="">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-wa" role="tabpanel" aria-labelledby="v-pills-wa-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6">
                            <h4 class="title text-orange mb-3">Warehouse Automation</h4>
                            <p class="text-black para-desc mb-0">
                                Receive, track inventory and ship items using barcode scanners
                            </p>
                        </div>
                        <div class="col-xl-6">
                            <img src="~/images/erp/Warehouse-Automation.png" class="mx-auto img-box-shadow img-space" alt="">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-qa" role="tabpanel" aria-labelledby="v-pills-qa-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6">
                            <h4 class="title text-orange mb-3">QuickBooks Automation</h4>
                            <p class="text-black para-desc mb-0">
                                Automatically populate Quickbooks with ERP data to reduce duplicate data entry
                            </p>
                        </div>
                        <div class="col-xl-6">
                            <img src="~/images/erp/Quickbooks-Integration.png" class="mx-auto img-box-shadow img-space" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end vertical tabs-->
        <div class="custom-acc accordion position-relative tabs-show" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Customer Order Entry
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="para-desc mb-0">
                            Manage order entry, shipping, customer invoicing, and customer payments
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Supplier Management
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="para-desc mb-0">
                            Manage supplier information, supplier orders, supplier payments, purchase orders
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Accounting
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="para-desc mb-0">
                            Timeclock entry, payroll, receiving payments
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Customer Management
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="para-desc mb-0">
                            Manage master customer data, names, addresses, billing information, customer locations, shipping destinations
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Inventory Management
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="para-desc mb-0">
                            Track and manage inventory
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        Warehouse Automation
                    </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="para-desc mb-0">
                            Receive, track inventory and ship items using barcode scanners
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingEight">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        QuickBooks Automation
                    </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="para-desc mb-0">
                            Automatically populate Quickbooks with ERP data to reduce duplicate data entry
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end container-->
</section><!--end section-->
<!-- End Demand Planning Benefits -->
<!-- Predictive Capabilities  -->
<section class="section bg-col bg-light" id="blog">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title-2 text-center ">
                    <h1 class="title text-blue">
                        Predictive Capabilities
                    </h1>
                </div>
            </div>
        </div>

        <div class="row justify-content-center ">
            <div class="col">
                <!--<p class="text-white mb-0 para-desc-dps">
                    Have the right materials available — at the right time, in the right place — to deliver increased revenues, higher profits, and maximum ROI.
                </p> -->
                <img src="~/images/erp/ERP-Predictive-Capabilities.png" class="img-dps d-flex mx-auto " alt="">
            </div>
        </div>
    </div>
</section>
<!-- End Predictive Capabilities   -->
<!-- Start Cost -->
<section class="section bg-col d-none" id="cost">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title-2 text-center mb-4 pb-2">
                    <h4 class="title mb-3 text-white">How is this service priced?</h4>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="d-flex  align-items-center justify-content-center">
            <div class="col">
                <div>
                    <p class="text-white  mb-0">
                        You can subscribe to Demand Planning Service for an annual service fee and get a demand portal access license. You can get more access licenses as you need them but generally, a single portal license subscription is sufficient. There is a one-time setup fee for the initial setup.
                    </p>
                </div>
                <div class="mt-4 pt-2 text-center">
                    <a href="#" class="btn btn-primary">Contact Us</a>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End Cost -->
<!-- Start Band -->
<section class="section-two bg-col" style="background: url('../images/bg/marketing-shape.png'); background-color: rgba(24, 67, 118, 1);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title-2 text-center">
                    <h1 class="title mb-3 text-white">What Our Client Says</h1>
                </div>
            </div><!--end col-->
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <div class="text-center">
                    <a href="/resources/supply-chain/" class="btn btn-primary">Read More</a>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End Band -->


