
@{
    ViewBag.Title = "supplychain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section metatags
{
    <title>Empower Your Supply Chain with AI Solutions - eMoksha</title>
    <meta name="description" content="Optimize your supply chain & distribution operations with AI. Automate processes, accelerate decision-making, and boost profitability with eMoksha." />
}
<!-- Start Hero -->
<section class="swiper-slider-hero position-relative d-block vh-60" id="home">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex align-items-center bg-slider" data-background="../images/industry/supply-chain/1.webp">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h1 class="display-5 text-white title-dark fw-bold mb-4">
                                        Supply Chain & Wholesale Distribution
                                    </h1>
                                    <!-- <h3 class="text-white">
                                        FOR SUPPLY CHAIN DISTRIBUTION
                                    </h3>  -->
                                    <div class="mt-4 pt-2">
                                        <a href="/Home/get-started" class="btn btn-primary">Get Started</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex align-items-center bg-slider" data-background="../images/industry/supply-chain/2.webp">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h1 class="display-5 text-white title-dark fw-bold mb-4">
                                        Supply Chain & Wholesale Distribution
                                    </h1>
                                    <!-- <h3 class="text-white">
                                        FOR CAREER TECH EDUCATIONS
                                    </h3>  -->
                                    <div class="mt-4 pt-2">
                                        <a href="/Home/get-started" class="btn btn-primary">Get Started</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex align-items-center bg-slider" data-background="../images/industry/supply-chain/3.webp">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h1 class="display-5 text-white title-dark fw-bold mb-4">
                                        Supply Chain & Wholesale Distribution
                                    </h1>
                                    <!-- <h3 class="text-white">
                                        FOR MANUFACTURING
                                    </h3>  -->
                                    <div class="mt-4 pt-2">
                                        <a href="/Home/get-started" class="btn btn-primary">Get Started</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex align-items-center bg-slider" data-background="../images/industry/supply-chain/4.webp">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h1 class="display-5 text-white title-dark fw-bold mb-4">
                                        Supply Chain & Wholesale Distribution
                                    </h1>
                                    <!-- <h3 class="text-white">
                                        FOR MANUFACTURING
                                    </h3>  -->
                                    <div class="mt-4 pt-2">
                                        <a href="/Home/get-started" class="btn btn-primary">Get Started</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
        </div>
        <!-- end swiper-wrapper -->
        <!-- swipper controls -->
        <!-- <div class="swiper-pagination"></div> -->
        <div class="swiper-button-next border rounded-circle text-center"></div>
        <div class="swiper-button-prev border rounded-circle text-center"></div>
    </div><!--end container-->
</section><!--end section-->
<!-- Hero End -->
<!-- Services START  version 1 if required remove d-none-->
<section class="section bg-light" id="features">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title mb-4 pb-2">
                    <h3 class="title text-blue mb-3 text-center">Overview</h3>
                    <p class="text-black mb-0">
                        We help our clients automate manual processes, increase speed to decision making, optimize operations, increase revenue and profitability across the supply chain with AI-first solutions. If you are in the business of distribution of products then we have forward-looking transformational solutions for your business that leverage an AI-first approach to solving distribution business pain points.
                    </p>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 testimonial">
                <img src="../images/customer-quotes/testimonial-1a.png" width="150" height="150" class="testi mt-5" alt="">

            </div>
            <div class="col-md-9 quote-box-shadow">
                <div class="section-title testi text-black mb-4 pb-2">
                    <p class="quote">
                        eMoksha’s Steel Distribution expertise and solutions allow us to manage the entire life cycle of steel distribution from supplier ordering, inventory management, customer orders, shipping, invoicing, payments, and reporting/analytics. Since we implemented eMoksha’s steel distribution solutions, our day-to-day operations have gone through complete automation and resulting transformation. We have realized significant time and effort savings in back-office operations and have eliminated several bottlenecks in warehouse operations. Our business is growing fast and it would have been very challenging as a medium size business to keep up with the growth without investing in technology and automation which has allowed us to do more with less. eMoksha continues to provide us with steel distribution-specific data-driven systems and automation tools which are driving our revenue growth, process efficiencies, and cost savings.
                    </p>
                    <h5 class="h5">
                        Melissa Supler<br />
                        Chief Operating Officer, Lyman Steel
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start Demand Planning Benefits -->
<section class="section pt-5" style="background: url('../../images/bg/marketing-shape.png') center; background-color: rgba(24, 67, 118, 1);">
    <!-- <div class="blue-bg-overlay"></div> -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-3 text-white">Key Features</h4>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        <div class="d-flex align-items-start position-relative tabs-hide">
            <div class="nav flex-column nav-pills me-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link v-tabs active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Demand Prediction</button>
                <button class="nav-link v-tabs" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Pricing Optimization</button>
                <button class="nav-link v-tabs" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Inside Sales Enablement</button>
                <button class="nav-link v-tabs" id="v-pills-implementation-tab" data-bs-toggle="pill" data-bs-target="#v-pills-implementation" type="button" role="tab" aria-controls="v-pills-implementation" aria-selected="false">Spend Reduction</button>
            </div>
            <div class="tab-content bg-white w-100 p-5" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6">
                            <h5 class="title text-orange mb-3">Demand Prediction</h5>
                            <p class="text-black para-desc mb-0">
                                Predicting product demand at the customer, geography, category, and SKU level reducing stock-outs and getting rid of excess inventory <br><br>Demand prediction algorithms eliminate the guesswork and manual excel based forecasting processes and keep a distributor informed regarding-
                            </p>
                            <ul class="color-ul mt-3">
                                <li>What you need to order from a supplier?</li>
                                <li>When you need to order?</li>
                                <li>How much you need to order?</li>
                            </ul>
                        </div>
                        <div class="col-xl-6">
                            <img src="../../images/industry/supply-chain/Demand Prediction.png" class="mx-auto img-box-shadow img-space" alt="">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6">
                            <h5 class="title text-orange mb-3">Pricing Optimization</h5>
                            <p class="text-black para-desc mb-0">
                                How do you know that you are not leaving money on the table?<br><br>
                                Discover opportunities to maximize profits and delight your customers by offering targeted discounts by building pricing and profitability scenarios at the customer, category , product, and SKU levels.<br><br>
                                Identify where to increase prices, by how much, and compare multiple specific profit maximization opportunities that can add to the bottom time.
                            </p>
                        </div>
                        <div class="col-xl-6">
                            <img src="../../images/industry/supply-chain/Pricing Optimization.png" class="mx-auto img-box-shadow img-space" alt="">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6">
                            <h5 class="title text-orange mb-3">Inside Sales Enablement</h5>
                            <p class="text-black para-desc mb-0">
                                Discover opportunities to improve your sales processes and outcomes by looking at your historical sales orders.<br><br>Our sales enablement solutions build a unique customer buying pattern signature from sales order history
                            </p>
                            <ul class="color-ul mt-3">
                                <li>Predict customer churn risk</li>
                                <li>Qualify right customers and products for actions</li>
                                <li>Enable consistency in sales team actions</li>
                                <li>Help improve quality of sale</li>
                                <li>Identify cross-sell/upsell</li>
                            </ul>
                        </div>
                        <div class="col-xl-6">
                            <img src="../../images/industry/supply-chain/Inside sales enablement.png" class="mx-auto img-box-shadow img-space" alt="">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-implementation" role="tabpanel" aria-labelledby="v-pills-implementation-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6">
                            <h5 class="title text-orange mb-3">Spend Reduction</h5>
                            <p class="text-black para-desc mb-0">
                                Discover spend reduction opportunities across the supply chain by aggregating data from accounts payable, general ledger and accounts receivables.<br><br>Our spend reduction solutions-
                            </p>
                            <ul class="color-ul mt-3">
                                <li>
                                    Aggregate spending at a supplier, category,
                                    and product-level
                                </li>
                                <li>
                                    Identify opportunities for supplier and parts
                                    buying consolidation
                                </li>
                                <li>
                                    Identify preferred suppliers and perform
                                    vendor scoring
                                </li>
                                <li>Spot outlier spending</li>
                            </ul>
                        </div>
                        <div class="col-xl-6">
                            <img src="../../images/industry/supply-chain/Spend Reduction.png" class="mx-auto img-box-shadow img-space" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end vertical tabs-->
        <div class="custom-acc accordion position-relative tabs-show" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Demand Prediction
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="text-black para-desc mb-0">
                            Predicting product demand at the customer, geography, category, and SKU level reducing stock-outs and getting rid of excess inventory <br><br>Demand prediction algorithms eliminate the guesswork and manual excel based forecasting processes and keep a distributor informed regarding-
                        </p>
                        <ul class="color-ul mt-3">
                            <li>What you need to order from a supplier?</li>
                            <li>When you need to order?</li>
                            <li>How much you need to order?</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Pricing Optimization
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="text-black para-desc mb-0">
                            How do you know that you are not leaving money on the table?<br><br>
                            Discover opportunities to maximize profits and delight your customers by offering targeted discounts by building pricing and profitability scenarios at the customer, category , product, and SKU levels.<br><br>
                            Identify where to increase prices, by how much, and compare multiple specific profit maximization opportunities that can add to the bottom time.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Inside Sales Enablement
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="text-black para-desc mb-0">
                            Discover opportunities to improve your sales processes and outcomes by looking at your historical sales orders.<br><br>Our sales enablement solutions build a unique customer buying pattern signature from sales order history
                        </p>
                        <ul class="color-ul mt-3">
                            <li>Predict customer churn risk</li>
                            <li>Qualify right customers and products for actions</li>
                            <li>Enable consistency in sales team actions</li>
                            <li>Help improve quality of sale</li>
                            <li>Identify cross-sell/upsell</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Spend Reduction
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="text-black para-desc mb-0">
                            Discover spend reduction opportunities across the supply chain by aggregating data from accounts payable, general ledger and accounts receivables.<br><br>Our spend reduction solutions-
                        </p>
                        <ul class="color-ul mt-3">
                            <li>
                                Aggregate spending at a supplier, category,
                                and product-level
                            </li>
                            <li>
                                Identify opportunities for supplier and parts
                                buying consolidation
                            </li>
                            <li>
                                Identify preferred suppliers and perform
                                vendor scoring
                            </li>
                            <li>Spot outlier spending</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end container-->
</section><!--end section-->
<!-- End Demand Planning Benefits -->

