
@{
    ViewBag.Title = "tracker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags
{
    <title>eMoksha Tracker: Real-time Data Capture & Aggregation for Career Tech Centers</title>
    <meta name="description" content="Transform data management in career tech centers with eMoksha,s Tracker. Capture, aggregate, and track follow-up, credentials, and capstone data in real-time." />
}
<!-- Start Hero -->
<section class="section-two bg-col img-height" style="background: url('../../images/industry/Tracker/26.png') center;"></section><!--end section-->
<!-- Hero End -->
<!-- overview -->
<section class="section bg-col bg-white" id="blog">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title ">
                    <h3 class="title text-blue mb-3 text-center">Overview</h3>
                    <p class="text-black mb-0">
                        Our state of art “Tracker” system helps career tech centers capture and aggregate follow-up, credentials, and capstone data in real-time and then looks for patterns in that data to help career center teachers and administrators make actionable and smart decisions about the students and programming being offered. This completely eliminates the need to use Google Sheets and Excel files and provides real-time access to all the data at your fingertips along with discovering trends and patterns in the data.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- overview -->


<section class="pt-5 pb-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3 testimonial">
                <img src="~/images/customer-quotes/dan.png" width="150" height="150" class="testi mt-5" alt="">

            </div>
            <div class="col-md-9 quote-box-shadow">
                <div class="section-title testi text-black mb-4 pb-2">
                    <p class="quote">
                        eMoksha's Tracker platform completely transformed our data capture processes for follow-up, credentials, certification, and work-based learning. This transformation is leading to more efficiency, better quality, and significant time savings for teachers, administrative staff, and the management at R G Drage. In addition, by recognizing patterns in the historical data, evidence-based tactical and strategic decisions can be made about various programs, offerings, and available resources ultimately helping the center to stay focused on student success and achieve better outcomes.
                    </p>
                    <h5 class="h5">
                        DAN MURPHY<br />
                        Director, RG Drage Career Center
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start key features -->
<section class="section pt-5" style="background: url('../../images/bg/marketing-shape.png') center; background-color: rgba(24, 67, 118, 1);">
    <!-- <div class="blue-bg-overlay"></div> -->
    <div class="container">


        <div class="d-flex align-items-start position-relative tabs-hide">
            <div class="nav flex-column nav-pills me-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link v-tabs-2 active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
                    A single source of
                    centralized data
                </button>
                <button class="nav-link v-tabs-2" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Superior Data Quality</button>
                <button class="nav-link v-tabs-2" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Analytics Module</button>
                <button class="nav-link v-tabs-2" id="v-pills-implementation-tab" data-bs-toggle="pill" data-bs-target="#v-pills-implementation" type="button" role="tab" aria-controls="v-pills-implementation" aria-selected="false">Configurable</button>

            </div>
            <div class="tab-content bg-white p-5" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <h4 class="title text-orange mb-3">
                                A single source of
                                centralized data
                            </h4>
                            <p class="text-black para-desc mb-0">
                                Generate metrics for EMIS/ State reporting with the push of a button results in efficiencies across the board for teachers, administrative staff and executives.This is only possible by having a centralized system which eliminates the need to maintain follow-up, credentials and capstone data in google forms and excel files.
                            </p>
                            <img src="~/images/industry/Tracker/tracker-1.svg" class="mx-auto mt-3 img-box-shadow img-space" alt="">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <h4 class="title text-orange mb-3">Superior Data Quality</h4>
                            <p class="text-black para-desc mb-0">
                                Tracker system is built upon the principal of having the user to pick and choose options when entering data rather than typing the data. This ensures consistency across the board when entering data resulting in excellent data quality for EMIS/State reporting.
                            </p>
                            <img src="~/images/industry/Tracker/Rectangle 146.png" class="mx-auto mt-3 img-box-shadow img-space" alt="">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <h4 class="title text-orange mb-3">Analytics Module</h4>
                            <p class="text-black para-desc mb-0">
                                Analytics module helps career centers understand the trends and patterns regarding student population, programming offered, credentials earned and post program follow-up.
                            </p>
                            <img src="~/images/industry/Tracker/Rectangle 147.png" class="mx-auto mt-3 img-box-shadow img-space" alt="">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-implementation" role="tabpanel" aria-labelledby="v-pills-implementation-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <h4 class="title text-orange mb-3">Configurable</h4>
                            <p class="text-black para-desc mb-0">
                                Tracker is built to handle process changes by configuration of the system such as credentials / certification rules change, teachers change.
                            </p>
                            <img src="~/images/industry/Tracker/Rectangle 148.png" class="mx-auto mt-3 img-box-shadow img-space" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div><!--end vertical tabs-->
        <div class="custom-acc accordion position-relative tabs-show" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        A single source of centralized data
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="para-desc mb-0">
                            Generate metrics for EMIS/ State reporting with the push of a button results in efficiencies across the board for teachers, administrative staff and executives.This is only possible by having a centralized system which eliminates the need to maintain follow-up, credentials and capstone data in google forms and excel files.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Superior Data Quality
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="para-desc mb-0">
                            Tracker system is built upon the principal of having the user to pick and choose options when entering data rather than typing the data. This ensures consistency across the board when entering data resulting in excellent data quality for EMIS/State reporting.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Analytics Module
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="para-desc mb-0">
                            Analytics module helps career centers understand the trends and patterns regarding student population, programming offered, credentials earned and post program follow-up.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Configurable
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="para-desc mb-0">
                            Tracker is built to handle process changes by configuration of the system such as credentials / certification rules change, teachers change.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div><!--end container-->
</section><!--end section-->
<!-- End Demand Planning Benefits -->

