
@{
    ViewBag.Title = "careertech";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-grey">
    <!-- test-01 -->
    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 testimonial">
                    <img src="/images/customer-quotes/dan.png" width="150" height="150" class="testi mt-5" alt="">

                </div>
                <div class="col-md-9 quote-box-shadow bg-light">
                    <div class="section-title testi text-black m-3 p-2">
                        <p class="quote">
                            eMoksha's Tracker platform completely transformed our data capture processes for follow-up, credentials, certification, and work-based learning. This transformation is leading to more efficiency, better quality, and significant time savings for teachers, administrative staff, and the management at R G Drage. In addition, by recognizing patterns in the historical data, evidence-based tactical and strategic decisions can be made about various programs, offerings, and available resources ultimately helping the center to stay focused on student success and achieve better outcomes.
                        </p>
                        <h5 class="h5">
                            DAN MURPHY<br />
                            Director, RG Drage Career Center
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- test-02 -->
    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 testimonial">
                    <img src="/images/customer-quotes/krista.png" width="150" height="150" class="testi mt-5" alt="">

                </div>
                <div class="col-md-9 quote-box-shadow bg-light">
                    <div class="section-title testi text-black m-3 p-2">
                        <p class="quote">
                            eMoksha's analytics platform is helping us dig into years of historical data identifying patterns leading to insights about programming effectiveness, future growth areas, gaps in programming, and retention / program completion issues at an overall center level as well as district/programming level. This tool gives me the big picture I was looking for and provides information at my fingertips to help identify opportunities to optimize various programs/offerings and keep us bullet-focused on student success.
                        </p>
                        <h5 class="h5">
                            KRISTA GEARHART<br />
                            Director of CTE, South Stark Career Academy
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

