
@{
    ViewBag.Title = "countycourts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-grey">
    <!-- test-03 -->
    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 testimonial">
                    <img src="/images/customer-quotes/frank.png" width="150" height="150" class="testi mt-5" alt="">

                </div>
                <div class="col-md-9 quote-box-shadow bg-light">
                    <div class="section-title testi text-black m-3 p-2">
                        <p class="quote">
                            eMoksha was instrumental in getting our Probation Department started on the analytics journey. eMoksha developed an analytics platform for us that processes multiple data sources, aggregates large volumes of data, and delivers it via a customized interface. This platform delivers department metrics and insights that are used for strategic and tactical decision-making at all levels within the organization. The platform is helping drive operational efficiencies throughout the Adult Probation Department. We had a great experience working with eMoksha.
                        </p>
                        <h5 class="h5">
                            FRANK SCHERER<br />
                            Director Adult Probation and Parole<br />
                            Allegheny County Court of Common Pleas<br />
                            Fifth Judicial District of Pennsylvania
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- test-04 -->
    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 testimonial">
                    <img src="/images/customer-quotes/berlin.png" width="150" height="150" class="testi mt-5" alt="">

                </div>
                <div class="col-md-9 quote-box-shadow bg-light">
                    <div class="section-title testi text-black m-3 p-2">
                        <p class="quote">
                            eMoksha is helping us truly practice evidence-based management by providing deep insights into our data and enabling us to ask important questions about our early intervention programs, Probation, and Residential Treatment. We have completely transformed our decision-making processes based on presented facts in the data. Most importantly, we are able to provide evidence to our stakeholders that investing in early intervention programs provides a measurable benefit to our community and is a fiscally responsible use of our resources
                        </p>
                        <h5 class="h5">
                            BERLIN CARROLL<br />
                            Court Administrator<br />
                            Allen County Probate and Juvenile Court
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
