
@{
    ViewBag.Title = "supplychain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-grey">
    <!-- test-05 -->
    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 testimonial">
                    <img src="/images/customer-quotes/testimonial-1a.png" width="150" height="150" class="testi mt-5" alt="">

                </div>
                <div class="col-md-9 quote-box-shadow bg-light">
                    <div class="section-title testi text-black m-3 p-2">
                        <p class="quote">
                            eMoksha’s Steel Distribution expertise and solutions allow us to manage the entire life cycle of steel distribution from supplier ordering, inventory management, customer orders, shipping, invoicing, payments, and reporting/analytics. Since we implemented eMoksha’s steel distribution solutions, our day-to-day operations have gone through complete automation and resulting transformation. We have realized significant time and effort savings in back-office operations and have eliminated several bottlenecks in warehouse operations. Our business is growing fast and it would have been very challenging as a medium size business to keep up with the growth without investing in technology and automation which has allowed us to do more with less. eMoksha continues to provide us with steel distribution-specific data-driven systems and automation tools which are driving our revenue growth, process efficiencies, and cost savings.
                        </p>
                        <h5 class="h5">
                            Melissa Supler<br />
                            Chief Operating Officer, Lyman Steel
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

