
@{
    ViewBag.Title = "testimonials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-grey">
    <!-- test-01 -->
    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 testimonial">
                    <img src="~/images/customer-quotes/dan.png" width="150" height="150" class="testi mt-5" alt="">

                </div>
                <div class="col-md-9 quote-box-shadow bg-light">
                    <div class="section-title testi text-black m-3 p-2">
                        <p class="quote">
                            eMoksha's Tracker platform completely transformed our data capture processes for follow-up, credentials, certification, and work-based learning. This transformation is leading to more efficiency, better quality, and significant time savings for teachers, administrative staff, and the management at R G Drage. In addition, by recognizing patterns in the historical data, evidence-based tactical and strategic decisions can be made about various programs, offerings, and available resources ultimately helping the center to stay focused on student success and achieve better outcomes.
                        </p>
                        <h5 class="h5">
                            DAN MURPHY<br />
                            Director, RG Drage Career Center
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- test-02 -->
    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 testimonial">
                    <img src="~/images/customer-quotes/krista.png" width="150" height="150" class="testi mt-5" alt="">

                </div>
                <div class="col-md-9 quote-box-shadow bg-light">
                    <div class="section-title testi text-black m-3 p-2">
                        <p class="quote">
                            eMoksha's analytics platform is helping us dig into years of historical data identifying patterns leading to insights about programming effectiveness, future growth areas, gaps in programming, and retention / program completion issues at an overall center level as well as district/programming level. This tool gives me the big picture I was looking for and provides information at my fingertips to help identify opportunities to optimize various programs/offerings and keep us bullet-focused on student success.
                        </p>
                        <h5 class="h5">
                            KRISTA GEARHART<br />
                            Director of CTE, South Stark Career Academy
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- test-03 -->
    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 testimonial">
                    <img src="~/images/customer-quotes/frank.png" width="150" height="150" class="testi mt-5" alt="">

                </div>
                <div class="col-md-9 quote-box-shadow bg-light">
                    <div class="section-title testi text-black m-3 p-2">
                        <p class="quote">
                            eMoksha was instrumental in getting our Probation Department started on the analytics journey. eMoksha developed an analytics platform for us that processes multiple data sources, aggregates large volumes of data, and delivers it via a customized interface. This platform delivers department metrics and insights that are used for strategic and tactical decision-making at all levels within the organization. The platform is helping drive operational efficiencies throughout the Adult Probation Department. We had a great experience working with eMoksha.
                        </p>
                        <h5 class="h5">
                            FRANK SCHERER<br />
                            Director Adult Probation and Parole<br />
                            Allegheny County Court of Common Pleas<br />
                            Fifth Judicial District of Pennsylvania
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- test-04 -->
    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 testimonial">
                    <img src="~/images/customer-quotes/berlin.png" width="150" height="150" class="testi mt-5" alt="">

                </div>
                <div class="col-md-9 quote-box-shadow bg-light">
                    <div class="section-title testi text-black m-3 p-2">
                        <p class="quote">
                            eMoksha is helping us truly practice evidence-based management by providing deep insights into our data and enabling us to ask important questions about our early intervention programs, Probation, and Residential Treatment. We have completely transformed our decision-making processes based on presented facts in the data. Most importantly, we are able to provide evidence to our stakeholders that investing in early intervention programs provides a measurable benefit to our community and is a fiscally responsible use of our resources
                        </p>
                        <h5 class="h5">
                            BERLIN CARROLL<br />
                            Court Administrator<br />
                            Allen County Probate and Juvenile Court
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- test-05 -->
    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 testimonial">
                    <img src="~/images/customer-quotes/testimonial-1a.png" width="150" height="150" class="testi mt-5" alt="">

                </div>
                <div class="col-md-9 quote-box-shadow bg-light">
                    <div class="section-title testi text-black m-3 p-2">
                        <p class="quote">
                            eMoksha Demand Planning service has completely transformed how we order steel. A tedious and frustrating process that used to take days with pouring over excel files, purchase orders and not to mention the ‘gut’ feel of warehouse staff is now a point-and-click, 30-minute exercise with pinpoint accuracy. We are saving so much money, time, and effort with the Demand Planning service.
                        </p>
                        <h5 class="h5">
                            Melissa Supler<br />
                            Chief Operating Officer, Lyman Steel
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

