<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	
    @RenderSection("metatags", required: false)
	
  
    @*<meta name="description" content="With our AI-First approach, architecting and developing AI-enabled data analytics and Machine Learning solutions, we seek to inspire organizational innovation and business transformation by delivering key insights and value drivers from organizational data." />*@
    <meta name="keywords" content="Data Preparation, Data Quality Asessment, Data Discovery" />
    <meta name="author" content="eMoksha" />
    <meta name="website" content="http://emokshallc.com/" />
    <meta name="email" content="salesupport@emokshallc.com" />
    <meta name="version" content="1.1.0" />
    <!-- favicon -->
    <link href="~/images/svg/favicon.svg" rel="shortcut icon">
   
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/swiper.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/tobii.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
    <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet">
    <!-- Custom  Css -->
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" id="theme-opt" />
    
    <!-- Google tag (gtag.js) -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173233305-1"></script>

<script>

  window.dataLayer = window.dataLayer || [];

  function gtag(){dataLayer.push(arguments);}

  gtag('js', new Date());


  gtag('config', 'UA-173233305-1');

</script>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PD1DPLY389"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PD1DPLY389');
</script>

</head>
<body>
    <!-- START NAVBAR -->
    <nav id="navbar" class="navbar navbar-expand-lg  sticky-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="~/images/svg/logo.svg" class="logo-light-mode w-100" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i data-feather="menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navbar-navlist">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/services">Services</a>
                    </li>

                    <li class="nav-item dropdown" id="myDropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Industry
                        </a>
                        <ul class="dropdown-menu ">
                            <li class="dropdown-hover">
                                <a class="dropdown-item text-blue" href="/Industry/career-tech">Career Tech &raquo;</a>
                                <ul class="submenu dropdown-menu">
                                    <li><a class="dropdown-item text-blue" href="/Industry/tracker/">Tracker</a></li>
                                    <li><a class="dropdown-item text-blue" href="/Industry/CTlytics/">CTlytics</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item text-blue" href="/Industry/county-courts/">County Courts</a></li>
                            <li class="dropdown-hover">
                                <a class="dropdown-item text-blue" href="/Industry/supplychain">Supply Chain &raquo;</a>
                                <ul class="submenu dropdown-menu">
                                    <li><a class="dropdown-item text-blue" href="/Industry/demand">Demand</a></li>
                                    <li><a class="dropdown-item text-blue" href="/Industry/erp">ERP</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" id="myDropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Resources
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-hover">
                                <a class="dropdown-item text-blue" href="/resources/testimonials/">Testimonials &raquo;</a>
                                <ul class="submenu dropdown-menu">
                                    <li><a class="dropdown-item text-blue" href="/resources/career-tech/">Career Tech</a></li>
                                    <li><a class="dropdown-item text-blue" href="/resources/county-courts/">County Courts</a></li>
                                    <li><a class="dropdown-item text-blue" href="/resources/supply-chain/">Supply Chain</a></li>
                                </ul>
                            </li>
							  <li class="dropdown-hover">
                                <a class="dropdown-item text-blue" href="#">Library &raquo;</a>
                                <ul class="submenu dropdown-menu"> 
                                    <li><a class="dropdown-item text-blue" href="/Library/court">Courts</a></li>
                                    <li><a class="dropdown-item text-blue" href="/Library/steel">Steel</a></li>
									<li><a class="dropdown-item text-blue" href="/Library/CourtDiversionQuestions">Court Diversion Questions</a></li>
                                </ul>
                            </li>
                        </ul>
						 
                    </li>

 
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/get-started">Get Started</a>
                    </li>
                </ul>
            </div>
            <!--end collapse-->
        </div>
        <!--end container-->
    </nav>
    <!-- END NAVBAR -->
    
    @RenderBody()
       
   
    <!-- Footer Start -->
    <footer class="bg-footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-py-60">
                        <div class="row">
                            <div class="col-lg-2 col-12 mb-lg-0 mb-md-4 pb-lg-0 pb-md-2">
                                <a href="/" class="logo-footer">
                                    <img src="~/images/svg/logo.svg" alt="emokshallc">
                                </a>
                            </div><!--end col-->

                            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                                <h5 class="footer-head">Get Started</h5>
                                <ul class="list-unstyled footer-list mt-4">
                                    <h5 class="footer-head">Industry</h5>
                                    <li><a href="/Industry/career-tech" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Career Tech</a></li>
                                    <li><a href="/Industry/county-courts/" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> County Courts</a></li>
                                    <li><a href="/Industry/supplychain" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Supply Chain</a></li>

                                </ul>
                            </div><!--end col-->
                            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                                <h5 class="footer-head">Our Services</h5>
                                <ul class="list-unstyled footer-list mt-4">
                                    <h5 class="footer-head">Testimonials</h5>
                                    <li><a href="/resources/career-tech/" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Career Tech</a></li>
                                    <li><a href="/resources/county-courts/" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> County Courts</a></li>
                                    <li><a href="/resources/supply-chain/" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Supply Chain</a></li>

                                </ul>
                            </div><!--end col-->

                            <div class="col-lg-4 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                                <h5 class="footer-head">Get In Touch</h5>
                                <p class="mt-4 text-dark">
                                    eMoksha - A Data Science Company
                                    159 Crocker Park Blvd, Suite 400
                                    Westlake OH 44145
                                </p>
                                <ul class="list-unstyled footer-list mt-3">
                                    <li class="text-dark">Phone: <a href="tel:+1-440-455-9307" class="text-dark "><br>+1 (440) 455-9307</a></li>
                                    <li class="text-dark">Email: <a href="mailto:sales@emokshallc.com" class="text-dark">sales@emokshallc.com</a></li>
                                </ul>
                            </div><!--end col-->


                        </div><!--end row-->
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
        <div class="footer-py-30 footer-bar">
            <div class="container text-center">
                <div class="row align-items-center justify-content-center">
                    <div class="col-sm-12">
                        <div class="text-sm-start">
                            <p class="mb-0 text-dark">©
                            <script>document.write(new Date().getFullYear())</script> emokshallc | All Rights Reserved</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </div>
    </footer><!--end footer-->

    @Html.Partial("_contactButton")
    <!-- Back to top -->
    <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top rounded-pill fs-5"><i data-feather="arrow-up" class="fea icon-sm icons align-middle"></i></a>
    <!-- Back to top -->

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/swiper.min.js"></script>
    <script src="~/Scripts/tobii.min.js"></script>
    <script src="~/Scripts/gumshoe.js"></script>
    <script src="~/Scripts/feather.min.js"></script>
    <!-- Custom -->
    <script src="~/Scripts/plugins.init.js"></script>
    <script src="~/Scripts/app.js"></script>
</body>
</html>
