
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <!-- Start Hero -->
<section class="section-two bg-col img-height" style="background: url('../images/Get-Started.webp') center;"></section><!--end section-->
<!-- Hero End -->
<!-- Start Use -->
<section class="section bg-light">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-lg-6">
                <h4 class="title text-blue mb-3">MESSAGE US</h4>
                <p>Do you ever wonder what opportunities and possibilities exist in your historical data and what Machine Learning/AI can do for your organization? If you don't believe in business as usual and looking to take your organization to the next level with machine learning/AI at the center of what you do then get in touch with us today to learn more about how we can help transform your organization.</p>
            </div>

            <div class="col-lg-6">
                <form action="https://emokshallc.us14.list-manage.com/subscribe/post?u=bd5185556f02c73fc4ded063a&amp;id=afd201734c&amp;f_id=00ba9be0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-container" target="mc-embedded-subscribe-form" novalidate onsubmit="submitted=true">
                    <div class="mb-3">
                        <label for="mce-FNAME" class="form-label">First Name  <span class="asterisk">*</span></label>
                        <input type="text" class="form-control" id="mce-FNAME" name="FNAME" aria-describedby="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="mce-EMAIL" class="form-label">Email Address  <span class="asterisk">*</span></label>
                        <input type="email" class="form-control" id="mce-EMAIL" name="EMAIL" aria-describedby="emailHelp" required>
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="mce-MMERGE2" class="form-label">Comments <span class="asterisk">*</span></label>
                        <input type="text" value="" name="MMERGE2" class="form-control comment" id="mce-MMERGE2" aria-describedby="comments" required>
                    </div>
                    <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

        </div>
    </div><!--end container-->
</section><!--end section-->
<!-- End Use -->

<iframe id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" style="display:none;" onload="if (submitted) { window.location = '/Home/thank-you'; }"></iframe>