@{
    ViewBag.Title = "Home Page";
}
@section metatags
{  
<title>eMoksha - Empowering Your Business with Data Analytics and Machine Learning Solutions</title>
<meta name="description" content="Unlock the potential of your data with eMoksha's advanced analytics and machine learning solutions. Our expert team offers customized solutions to help you make data-driven decisions." />
}
<!-- Start Hero -->
<section class="swiper-slider-hero position-relative d-block vh-60" id="home">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex align-items-center bg-slider" data-background="../images/slider/Website-Home-Page-1.png">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h1 class="display-5 text-white title-dark fw-bold mb-4">
                                        DATA TO ACTIONS
                                    </h1>
                                    <h3 class="text-white fw-lighter">
                                        EMPOWERED BUSINESSES AND COMMUNITIES
                                    </h3>
                                    <div class="mt-4 pt-2 d-none">
                                        <a href="/Home/get-started" class="btn btn-primary">Contact us</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex align-items-center bg-slider" data-background="../images/slider/Website-Home-Page-2.png">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h1 class="display-5 text-white title-dark fw-bold mb-4">
                                        DATA TO ACTIONS
                                    </h1>
                                    <h3 class="text-white">
                                        FOR COURTS AND JUSTICE
                                    </h3>
                                    <div class="mt-4 pt-2">
                                        <a href="/Home/get-started" class="btn btn-primary">Get Started</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex align-items-center bg-slider" data-background="../images/slider/Website-Home-Page-3.png">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h1 class="display-5 text-white title-dark fw-bold mb-4">
                                        DATA TO ACTIONS
                                    </h1>
                                    <h3 class="text-white">
                                        FOR SUPPLY CHAIN DISTRIBUTION
                                    </h3>
                                    <div class="mt-4 pt-2">
                                        <a href="/Home/get-started" class="btn btn-primary">Get Started</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex align-items-center bg-slider" data-background="../images/slider/Website-Home-Page-4.png">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h1 class="display-5 text-white title-dark fw-bold mb-4">
                                        DATA TO ACTIONS
                                    </h1>
                                    <h3 class="text-white">
                                        FOR CAREER TECH EDUCATION
                                    </h3>
                                    <div class="mt-4 pt-2">
                                        <a href="/Home/get-started" class="btn btn-primary">Get Started</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex align-items-center bg-slider" data-background="../images/slider/Website-Home-Page-5.png">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h1 class="display-5 text-white title-dark fw-bold mb-4">
                                        DATA TO ACTIONS
                                    </h1>
                                    <h3 class="text-white">
                                        FOR MANUFACTURING
                                    </h3>
                                    <div class="mt-4 pt-2">
                                        <a href="/Home/get-started" class="btn btn-primary">Get Started</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
        </div>
        <!-- end swiper-wrapper -->
        <!-- swipper controls -->
        <!-- <div class="swiper-pagination"></div> -->
        <div class="swiper-button-next border rounded-circle text-center"></div>
        <div class="swiper-button-prev border rounded-circle text-center"></div>
    </div><!--end container-->
</section><!--end section-->
<!-- Hero End -->
<!-- Services START  version 1 if required remove d-none-->
<section class="section d-none" id="features">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h3 class="title text-blue mb-3">What We Do?</h3>
                    <p class="text-black mb-0">
                        With our AI-First approach, architecting and developing AI-enabled data analytics and Machine Learning solutions,
                        we seek to inspire organizational innovation and business transformation by delivering key insights and value drivers from organizational data.
                    </p>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        <div class="row">
            <div class="col-lg-4 col-md-6 mt-5 pt-4">
                <div class="card features feature-primary feature-shadow-md shadow rounded p-4 pt-5 same-height">
                    <div class="icon-style mt-n80 position-relative text-center shadow rounded bg-white mb-4">
                        <i class="uil uil-airplay h4 mb-0"></i>

                    </div>
                    <div class="content same-height">
                        <a href="" class="title text-blue h5">
                            Data Preparation
                        </a>
                        <p class="text-black mt-3 same-height">
                            Speed is everything in today's business world
                        </p>
                        <a href="" class="text-orange title">Learn More <i class="uil uil-arrow-right"></i> </a>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-lg-4 col-md-6 mt-5 pt-4">
                <div class="card features feature-primary feature-shadow-md shadow rounded p-4 pt-5 same-height">
                    <div class="icon-style mt-n80 position-relative text-center shadow rounded bg-white mb-4">
                        <i class="uil uil-circle-layer h4 mb-0"></i>
                    </div>
                    <div class="content same-height">
                        <a href="" class="title text-blue h5">
                            Data Quality Asessment
                        </a>
                        <p class="text-black mt-3 same-height">
                            We assess the fitness of data for analytics purpose by measuring the data quality
                        </p>
                        <a href="" class="text-orange title">Learn More <i class="uil uil-arrow-right"></i> </a>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-4 col-md-6 mt-5 pt-4">
                <div class="card features feature-primary feature-shadow-md shadow rounded p-4 pt-5 same-height">
                    <div class="icon-style mt-n80 position-relative text-center shadow rounded bg-white mb-4">
                        <i class="uil uil-fire h4 mb-0"></i>
                    </div>
                    <div class="content same-height">
                        <a href="" class="title text-blue h5">
                            Data Discovery
                        </a>
                        <p class="text-black mt-3 same-height">
                            We look for hidden signals & undiscovered relationships in historical data
                        </p>
                        <a href="" class="text-orange title">Learn More <i class="uil uil-arrow-right"></i> </a>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-4 col-md-6 mt-5 pt-4">
                <div class="card features feature-primary feature-shadow-md shadow rounded p-4 pt-5 same-height">
                    <div class="icon-style mt-n80 position-relative text-center shadow rounded bg-white mb-4">
                        <i class="uil uil-flip-h h4 mb-0"></i>
                    </div>
                    <div class="content same-height">
                        <a href="" class="title text-blue h5">
                            Machine Learning & Predictive Analysis
                        </a>
                        <p class="text-black mt-3 same-height">
                            We provide a forward looking view of data by developing predictive analytics and forecasting solutions
                        </p>
                        <a href="" class="text-orange title">Read More <i class="uil uil-arrow-right"></i> </a>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-4 col-md-6 mt-5 pt-4">
                <div class="card features feature-primary feature-shadow-md shadow rounded p-4 pt-5 same-height">
                    <div class="icon-style mt-n80 position-relative text-center shadow rounded bg-white mb-4">
                        <i class="uil uil-mountains h4 mb-0"></i>
                    </div>
                    <div class="content same-height">
                        <a href="" class="title text-blue h5">
                            Data Dashboards
                        </a>
                        <p class="text-black mt-3 same-height">
                            We simplify the understanding of complex data relationships and patterns by visual displays in an easy to understand manner
                        </p>
                        <a href="" class="text-orange title">Learn More <i class="uil uil-arrow-right"></i> </a>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-4 col-md-6 mt-5 pt-4">
                <div class="card features feature-primary feature-shadow-md shadow rounded p-4 pt-5 same-height">
                    <div class="icon-style mt-n80 position-relative text-center shadow rounded bg-white mb-4">
                        <i class="uil uil-wind h4 mb-0"></i>
                    </div>
                    <div class="content same-height">
                        <a href="" class="title text-blue h5">
                            Software Development and System Integration
                        </a>
                        <p class="text-black mt-3 same-height">
                            We develop AI-first data centric business software applications and System Integration Solutions
                        </p>
                        <a href="" class="text-orange title">Learn More <i class="uil uil-arrow-right"></i> </a>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->
<!-- Start -->
<section class="section bg-light" id="service">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title text-blue mb-3">What We Do?</h4>
                    <p class="text-black mb-0">
                        With our AI-First approach, architecting and developing AI-enabled data analytics and Machine Learning solutions, we seek to inspire organizational innovation and business transformation by delivering key insights and value drivers from organizational data.
                    </p>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card h-100">
                    <div>
                        <img src="~/images/svg/Ellipse 18.svg" class="card-img-top mx-auto d-block h-m" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title text-center text-blue">Data Preparation</h5>
                            <p class="text-black mt-3 ">Speed is everything <br>in today's business <br> world</p>
                            <a href="" class="link text-orange">Read more <i class="uil uil-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card h-100">
                    <img src="~/images/svg/Ellipse 19.svg" class="card-img-top mx-auto d-block h-m" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title text-center text-blue">Data Quality Asessment</h5>
                        <p class="text-black mt-3 ">We assess the fitness of data for analytics purpose by measuring the data quality</p>
                        <a href="" class="link text-orange">Read more <i class="uil uil-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card h-100">
                    <img src="~/images/svg/Ellipse 20.svg" class="card-img-top mx-auto d-block h-m" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title text-center text-blue">Data Discovery</h5>
                        <p class="text-black mt-3 ">We look for hidden signals & undiscovered relationships in historical data</p>
                        <a href="" class="link text-orange">Read more <i class="uil uil-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card h-100">
                    <img src="~/images/svg/Ellipse 21.svg" class="card-img-top mx-auto d-block h-m" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title text-center text-blue">Machine Learning & Predictive Analysis</h5>
                        <p class="text-black mt-3 ">We provide a forward looking view of data by developing predictive analytics and forecasting solutions</p>
                        <a href="" class="link text-orange">Read more <i class="uil uil-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card h-100">
                    <img src="~/images/svg/Ellipse 22.svg" class="card-img-top mx-auto d-block h-m" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title text-center text-blue">Data Dashboards</h5>
                        <p class="text-black mt-3 ">We simplify the understanding of complex data relationships and patterns by visual displays in an easy to understand manner</p>
                        <a href="" class="link text-orange">Read more <i class="uil uil-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card h-100">
                    <img src="~/images/svg/Ellipse 23.svg" class="card-img-top mx-auto d-block h-m" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title text-center text-blue">Software Development & System Integration</h5>
                        <p class="text-black mt-3 ">We develop AI-first data centric business software applications and System Integration Solutions</p>
                        <a href="" class="link text-orange">Read more <i class="uil uil-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>


    </div><!--end container-->
</section><!--end section-->
<!-- End -->
<!-- Start Industries We Serve -->
<section class="section" style="background: url('../images/svg/we-serve.svg') center; background-color: rgba(24, 67, 118, 1);">
    <!-- <div class="blue-bg-overlay"></div> -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-3 text-white">The Industries We Serve</h4>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        <div class="d-flex align-items-start position-relative tabs-hide">
            <div class="nav flex-column nav-pills me-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link v-tabs active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Career Tech Education</button>
                <button class="nav-link v-tabs" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">County Courts</button>
                <button class="nav-link v-tabs" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Supply Chain Distribution</button>
            </div>
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <h5 class="title text-orange mb-3">Career Tech Education</h5>
                    <p class="text-white para-desc mb-0">We are on a mission to transform Career Tech Education with our AI-First Data Science solutions and expertise. We have built state-of-the-art Tracker and CTlytics products which help career tech centers capture and aggregate follow-up, credentials, and capstone data, and then by looking for patterns in that data, we help career center leadership make actionable decisions.</p>
                    <div class="mt-4 pt-2">
                        <a href="/Industry/career-tech" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <h5 class="title text-orange mb-3">County Courts</h5>
                    <p class="text-white para-desc mb-0">Our AI-first analytics solutions and Program Evaluation as a service offering for County Courts is helping guide decisions and actions on the ground for both Adult and Juvenile Courts in the areas of</p>
                    <ul class="text-white">
                        <li>Diversion</li>
                        <li>Probation</li>
                        <li>Pre-Trial</li>
                        <li>Residential Treatment Programs/Behavioral Health</li>
                    </ul>
                    <div class="mt-4 pt-2">
                        <a href="/Industry/county-courts" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <h5 class="title text-orange mb-3">Supply Chain Distribution</h5>
                    <p class="text-white para-desc mb-0">We help our clients automate manual processes, increase the speed of decision-making, optimize operations, and increase revenue and profitability across the supply chain with AI-first solutions.eMoksha's B2B distribution expertise and solutions manage the entire life cycle of a distributor from supplier ordering, inventory management, customer orders, shipping, invoicing, payments, and reporting/analytics. Our distribution platform includes AI-based demand planning/forecasting and pricing optimization capabilities. These AI-enabled automation tools are helping manage revenue growth, driving efficiencies and cost savings for our distribution customers.</p>
                    <div class="mt-4 pt-2">
                        <a href="/Industry/supplychain" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div><!--end vertical tabs-->
        <div class="custom-acc accordion position-relative tabs-show" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Career Tech Education
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="para-desc mb-0">We are on a mission to transform Career Tech Education with our AI-First Data Science solutions and expertise. We have built state-of-the-art Tracker and CTlytics products which help career tech centers capture and aggregate follow-up, credentials, and capstone data, and then by looking for patterns in that data, we help career center leadership make actionable decisions.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        County Courts
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="para-desc mb-0">Our AI-first analytics solutions and Program Evaluation as a service offering for County Courts is helping guide decisions and actions on the ground for both Adult and Juvenile Courts in the areas of</p>
                        <ul>
                            <li>Diversion</li>
                            <li>Probation</li>
                            <li>Pre-Trial</li>
                            <li>Residential Treatment Programs/Behavioral Health</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Supply Chain Distribution
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="para-desc mb-0">We help our clients automate manual processes, increase the speed of decision-making, optimize operations, and increase revenue and profitability across the supply chain with AI-first solutions.eMoksha's B2B distribution expertise and solutions manage the entire life cycle of a distributor from supplier ordering, inventory management, customer orders, shipping, invoicing, payments, and reporting/analytics. Our distribution platform includes AI-based demand planning/forecasting and pricing optimization capabilities. These AI-enabled automation tools are helping manage revenue growth, driving efficiencies and cost savings for our distribution customers.</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end container-->
</section><!--end section-->
<!-- End Industries We Serve -->
<!-- Start Blog -->
<section class="section bg-light" id="blog">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-3">The Data Science Blog</h4>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        <div class="row">
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card blog blog-primary shadow rounded overflow-hidden border-0 same-height">
                    <div class="blog-image position-relative overflow-hidden">
                        <img src="~/images/blog/BDB-1.webp" class="img-fluid" alt="">
                    </div>
                    <div class="card-body content p-0">
                        <div class="p-4 same-height">
                            <a href="" class="h5 title text-dark d-block mb-0">
                                AI/ML in Wholesale B2B Distribution- Exploring Benefits and Possibilities
                            </a>
                            <p class="text-black mt-2 mb-0 same-height">
                                Across industries, enterprises are starting to leverage AI to function more efficiently, reliably, and profitably. B2B wholesale distribution also stands a chance to benefit from this.
                            </p>

                            <div class="mt-3">
                                <a href="https://www.linkedin.com/pulse/aiml-b2b-wholesale-distribution-exploring-benefits-vivek-vik-mehta/" class="link text-orange">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card blog blog-primary shadow rounded overflow-hidden border-0 same-height">
                    <div class="blog-image position-relative overflow-hidden">
                        <img src="~/images/blog/BDB-2.webp" class="img-fluid" alt="">
                    </div>
                    <div class="card-body content p-0">
                        <div class="p-4 same-height">
                            <a href="" class="h5 title text-dark d-block mb-0">
                                How AI Machine Learning projects are different from traditional IT Software
                            </a>
                            <p class="text-black mt-2 mb-0 same-height">
                                Data Science/AI/Machine Learning projects should not be conceptualized and run like traditional IT or Software Development projects. There are inherent problems with that approach.
                            </p>

                            <div class="mt-3">
                                <a href="https://www.linkedin.com/pulse/how-aimachine-learning-projects-different-from-itsoftware-mehta/" class="link text-orange">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card blog blog-primary shadow rounded overflow-hidden border-0 same-height">
                    <div class="blog-image position-relative overflow-hidden">
                        <img src="~/images/blog/BDB-3.webp" class="img-fluid" alt="">
                    </div>
                    <div class="card-body content p-0">
                        <div class="p-4 same-height">
                            <a href="" class="h5 title text-dark d-block mb-0">
                                Why your Data Science Investment isn't paying off
                            </a>
                            <p class="text-black mt-2 mb-0 same-height">
                                As an executive, you have invested in data processing/visualization tools, BI software, Data Lakes & Warehousing along with manpower to operate it all. But have you been able to measure the impact of those dollars spent?
                            </p>

                            <div class="mt-3">
                                <a href="https://www.linkedin.com/pulse/why-your-data-science-investment-isnt-paying-off-vivek-vik-mehta/" class="link text-orange">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        <div class="row">
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card blog blog-primary shadow rounded overflow-hidden border-0 same-height">
                    <div class="blog-image position-relative overflow-hidden">
                        <img src="~/images/blog/CTE blog thumbnail image.png" class="img-fluid" alt="">
                    </div>
                    <div class="card-body content p-0">
                        <div class="p-4 same-height">
                            <a href="" class="h5 title text-dark d-block mb-0">
                                How use of historical data can help revolutionize Career and Technical Education (CTE)
                            </a>
                            <p class="text-black mt-2 mb-0 same-height">
                                Career and technical education (CTE) helps prepare students for careers in various technical fields. However, CTE Programs must constantly adapt and evolve to be effective, relevant, and meet the needs of students and the industry.
                            </p>

                            <div class="mt-3">
                                <a href="/blogs/careertech" class="link text-orange">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
               
            </div><!--end col-->

            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                
            </div><!--end col-->
        </div>
    </div><!--end container-->
</section><!--end section-->
<!-- End Blog -->
<!-- Start CaseStudy -->
<section class="section bg-col" id="blog">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-3 text-white">Case Study</h4>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        <div class="row">
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card case blog blog-primary shadow rounded overflow-hidden border-0">
                    <div class="blog-image position-relative overflow-hidden">
                        <img src="~/images/case/case-study-1.webp" class="img-fluid" alt="">
                    </div>
                    <div class="card-body content p-0">
                        <div class="p-4 same-height">
                            <a href="" class="h5 title text-dark d-block mb-0">
                                Empowering Court Diversion Program with Data Science, and Machine Learning
                            </a>
                            <p class="text-black mt-2 mb-0 same-height">
                                The client had plenty of historical data but lacked information. It was very difficult to prove that early intervention programs work and outcomes had to be tracked manually. There was no way to link program outcomes to the interventions to understand which interventions and/or staff actions are leading to better outcomes.
                            </p>

                            <div class="mt-3">
                                <a href="/casestudies/county-courts" class="link text-orange">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card case blog blog-primary shadow rounded overflow-hidden border-0">
                    <div class="blog-image position-relative overflow-hidden">
                        <img src="~/images/case/case-study-2.webp" class="img-fluid" alt="">
                    </div>
                    <div class="card-body content p-0">
                        <div class="p-4 same-height">
                            <a href="" class="h5 title text-dark d-block mb-0">
                                End to End automation of credentials, capstone and follow-up data capture and analysis for a Career Tech Education center
                            </a>
                            <p class="text-black mt-2 mb-0 same-height">
                                eMoksha was approached by a leading Career Tech Center to address challenges related to manual and inefficient data entry for in-program student data, post-program follow-up data, and struggles in gaining valuable insights from multi-year historical data.
                            </p>

                            <div class="mt-3">
                                <a href="/casestudies/career-tech" class="link text-orange">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card case blog blog-primary shadow rounded overflow-hidden border-0">
                    <div class="blog-image position-relative overflow-hidden">
                        <img src="~/images/case/case-study-3.webp" class="img-fluid" alt="">
                    </div>
                    <div class="card-body content p-0">
                        <div class="p-4 same-height">
                            <a href="" class="h5 title text-dark d-block mb-0">
                                How eMoksha helped a Steel Distributor resolve its demand forecasting challenges
                            </a>
                            <p class="text-black mt-2 mb-0 same-height">
                                eMoksha was approached by a leading steel distribution company which was growing rapidly. The company was facing several challenges in the demand planning processes and customer order fulfilment.
                            </p>

                            <div class="mt-3">
                                <a href="/casestudies/supply-chain"  class="link text-orange">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End CaseStudy -->
 <!-- Footer Image Start -->
<div class="svg-image d-none d-lg-block">
    <div class="container">
        <img src="~/images/svg/image.svg" alt="SVG Flow" class="footer-svg">
    </div>
</div>