
@{
    ViewBag.Title = "thank-you";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section bg-col">
    <div class="container">
        <div class="col-lg-12" style="position: relative;">
            <h1 class="title text-white text-center">Thanks for the Response <br>We will revert back to you soon</h1>
            <div class="mt-4 pt-2 text-center">
                <a href="/" class="btn btn-primary">Home</a>
            </div>
        </div>

    </div><!--end container-->
</section><!--end section-->


